{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
<style>
    section section {
        overflow:hidden;
        padding: 20px;
    }
    .filters select {
        margin-right:1.5em;
        margin-bottom:1em;
    }
    .filters input[type="submit"] {
        margin-top:2em;
        margin-left:1em;
        width:50%;
    }
    @media screen and (max-width:680px) {
        .filters select {
            width:100%;
            margin-bottom:2em;
        }
        .filters input[type="submit"] {
            float:none;
            margin:1em 0;
            width:100%;
            display:block;
        }
    }
    .filters input[type="text"] {
        padding: 10px;
        height: auto;
        border: 1px solid #ddd;
        margin-bottom: 50px;
    }
    table {
        background: #fff;
        border: 1px solid #ddd;
    }
    th, td {
        font-size: 14px;
        vertical-align: top;
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="heading">Created Demo List</h1>
    <section>
        <section>
            <form action="" method="get" class="filters">
                {% for form in form %}
                    <label style="display: inline;">{{ form.label }}</label>
                    {{ form.errors }}
                    {{ form }}
                {% endfor %}
                <input type="submit" value="Filter Reviews">
            </form>
        </section>
        <table id="results" cellspacing="0" cellpadding="0" width="100%">
            {% if object_list %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Demo</th>
                        <th>Creator</th>
                        <th>Reviewer State</th>
                        <th>Demo State</th>
                    </tr>
                </thead>
                {% for obj in object_list %}
                    <tr>
                        <td>DT-{{ obj.pk }}</td>
                        <td><a data-pk="{{ obj.pk }}" href="{{ obj.get_absolute_url }}">{{ obj.title|truncatechars:65 }}</a></td>
                        <td><a href="{{ obj.creator.userprofile.get_absolute_url }}">{{ obj.creator.userprofile }}</a></td>
                        <td>
                            {% if obj.reviewer_state == "approved" %}
                                <span class="icon-{{ obj.reviewer_state }}">{{ obj.reviewer_state|capfirst }}</span>
                            {% else %}
                                {{ obj.reviewer_state|capfirst }}
                            {% endif %}
                        </td>
                        <td>
                            {{ obj.state|capfirst }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No demos found matching your search.</td></tr>
            {% endif %}
        </table>
        </ul>
    </section>
{% endblock %}
