{% extends 'layout-user.html' %}

{% block sub_nav %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="container">
        <a href="{% url 'index' %}">Your dashboard</a> &gt; Find a demo
    </div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/dashboard.css">
{{ block.super }}
<style>
    section {
        padding: 10px 20px;
    }
    section section {
        overflow: hidden;
        padding: 5px 20px;
    }
    .form-actions {
        text-align: center;
    }
    .filters select {
        margin-right: 1.5em;
        margin-bottom: 1em;
        max-width: 100px;
    }
    .filters input[type="submit"] {
        margin-top: 10px;
        width: 50%;
    }
    .filters label {
        display: inline-block;
    }
    @media screen and (max-width:680px) {
        .filters select {
            margin-bottom: 10px;
        }
        .filters input[type="submit"] {
            float: none;
            margin: 10px 0;
            width: 100%;
            display: block;
        }
        .filters label {
            display: block;
            width: 100%;
            margin: 0;
        }
    }
    .filters input[type="text"] {
        padding: 10px;
        height: auto;
        border: 1px solid #ddd;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="heading">Find a Demo</h1>
    <section>
        <section>
            <form action="" method="get" class="filters">
                {% for form in form %}
                    <label>{{ form.label }}</label>
                    {{ form.errors }}
                    {{ form }}
                {% endfor %}
                <div class="form-actions">
                    <input type="submit" value="Filter Reviews">
                </div>
            </form>
        </section>
        <table id="results" cellspacing="0" cellpadding="0" width="100%">
            {% if object_list %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Demo</th>
                        <th>Creator</th>
                        <th>Reviewer State</th>
                        <th>Demo State</th>
                    </tr>
                </thead>
                {% for obj in object_list %}
                    <tr>
                        <td>DT-{{ obj.pk }}</td>
                        <td><a class="has_bubble" data-prj="{{ obj.project.pk }}" data-pk="{{ obj.pk }}" href="{{ obj.get_absolute_url }}">{{ obj.title|truncatechars:65 }}</a></td>
                        <td><a href="{{ obj.creator.userprofile.get_absolute_url }}">{{ obj.creator.userprofile }}</a></td>
                        <td>
                            {% if obj.reviewer_state == "approved" %}
                                <span class="icon-{{ obj.reviewer_state }}">{{ obj.reviewer_state|capfirst }}</span>
                            {% else %}
                                {{ obj.reviewer_state|capfirst }}
                            {% endif %}
                        </td>
                        <td>
                            {{ obj.state|capfirst }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No demos found matching your search.</td></tr>
            {% endif %}
        </table>
        </ul>
    </section>
{% endblock %}
