{% extends 'layout-user.html' %}

{% block sub_nav_contents %}
    <a href="javascript:history.back()" class="subnav-item">Cancel</a></li>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="container">
        <a href="{% url 'index' %}">Your dashboard</a> &gt; <a href="{% url 'edit-profile' request.user.pk %}">Your Profile</a> &gt; Edit
    </div>
</div>
{% endblock %}


{% block styles %}
{{ block.super }}
<style>
    label[for="id_email"] {
        margin-top:60px;
    }
    #avatar-clear_id:after {
        content: 'Remove';
        margin-left: 15px;
    }
    label[for="avatar-clear_id"] {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="heading">Editing Your Profile</h1>
    <section>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <input type="submit" value="Update Profile">
        </form>
    </section>
{% endblock %}
