{% extends 'layout-review.html' %}
{% block title %} - Updating DT-{{ review_inst.pk }}{% endblock %}
{% block page_title %}Updating {% if review_inst.state == "draft"%}Draft {% endif %}DT-{{ review_inst.pk }}{% endblock %}
{% block button_text %}Update demo{% endblock %}
{% block description_leader %}{% if review_inst.state != "draft" %}Revision {% endif %}{% endblock %}
{% block description_follower %}{% if review_inst.state != "draft" %}<small>Give your revision some context</small>{% endif %}{% endblock %}
{% block form_warning %}
<section>
    <strong>Heads up!</strong> Adding a revision to your demo will
    reset everyone's approval status back to 'Reviewing'
</section>
{% endblock %}
{% block crumbs_contents %}
    <a href="{{ review_inst.get_absolute_url }}">DT-{{ review_inst.pk }}: {{ review_inst.title }}</a> &gt;
    New revision
{% endblock %}
