{% extends 'base.html' %}
{% load django_markdown %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block content %}
    <h3 class="icon icon-comment">Edit your comment</h3>
    <section>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.comment.errors }}
            {{ form.comment }}
            <div class="summary">
                <label class="icon icon-attach">Add additional attachment (<em>optional</em>) - <a href="#">(add)</a></label>
            </div>
            <div class="toggled_text attachments">
                <section>
                    <div class="split~680 by:3 with-gap:3">
                        {% include "includes/attachments_form.html" with form=form %}
                    </div>
                    {{ form.attachment.errors }}
                </section>
                <input id="id_thread" name="thread" value="{{ thread.pk }}" type="hidden">
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-large" type="submit" value="Update reply">
            </div>
        </form>
        {% markdown_media %}
    </section>
{% endblock %}

