{% extends 'layout-user.html' %}
{% block title %}{{ group.name }} Admins{% endblock %}

{% block sub_nav %}
<nav class="subnav">
    <div class="container left">
        <a class="icon icon-left-dir" href="javascript:history.back()">Go back</a>
    </div>
</nav>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="container">
        <a href="{% url 'index' %}">Your dashboard</a> &gt; <a href="{% url 'group-list' %}">Groups</a> &gt;
            Editing {{ group.name }} admins
            </a>
    </div>
</div>
{% endblock %}

{% block content %}
    <h1>Editing {{ group.name }} Admins</h1>
    <div class="">
        <form action="{% url 'group-manage-admins' group.slug %}" method="post">
            {% csrf_token %}
            {{ member_formset.management_form }}
            {% for form in member_formset %}
                <section>
                    <ul>
                        <li>User: {{ form.instance.user.userprofile.name }}</li>
                        <li>Is Admin: {{ form.instance.is_admin }}</li>
                    </ul>
                    {{ form.as_p }}
                </section>
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
