{% extends 'base.html' %}
{% load demo_tags %}
{% block title %} - Inbox{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="/static/styles/inbox.css">
{% endblock %}

{% block content %}
<div class="messages main-content">
    <h1 class="heading">Your Inbox</h1>
    <dl class="messages-nav">
        <dt>Menu</dt>
        <dd class="first {% if request.path == inbox_url and not request.GET.filter %}current{% endif %}"><a href="{% url 'inbox' %}">Inbox</a></dd>
        <dd class="last {% if request.GET.filter == 'read' %}current{% endif %}"><a href="{% url 'inbox' %}?filter=read">View Archive</a></dd>
    </dl>
    {% if object_list %}
        <section>
            <div class="messages-list">
                <div class="split by:3/1 with-gap:2 filters">
                    <div class="cel">
                        Review
                    </div>
                    <div class="cel">
                        {% if request.GET.sort == 'oldest' %}
                            <a href="{% url 'inbox' %}?sort=newest" class="icon icon-up-dir">Date</a>
                        {% else %}
                            <a href="{% url 'inbox' %}?sort=oldest" class="icon icon-down-dir">Date</a>
                        {% endif %}
                    </div>
                </div>
                {% for message in object_list %}
                    <div class="split by:3/1 with-gap:2">
                        <div class="cel">
                            {% if message.review %}
                                {% if message.review.creator != request.user %}
                                    <a data-prj="{{ message.review.project.pk }}" data-pk="{{ message.review.pk }}" title="Your approval status" class="dt_link icon-{% reviewer_status message.review request.user %}" href="{{ message.review.get_absolute_url }}">DT-{{ message.review.pk }}</a>:
                                {% else %}
                                    <a data-prj="{{ message.review.project.pk }}" data-pk="{{ message.review.pk }}" class="dt_link" href="{{ message.review.get_absolute_url }}">DT-{{ message.review.pk }}</a>:
                                {% endif %}
                            {% endif %}
                            <a class="{{ message.read }}" href="{{ message.get_absolute_url }}">{{ message.title }}</a>
                        </div>
                        <div class="cel">
                            {{ message.created }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# Bulk Message Form #}
            <form method='post' action=''>
                <div style="display:none">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                {% if request.GET.filter != 'read' %}
                    <button type="submit" class="messages-archive_all">Archive all messages</button>
                {% endif %}
            </form>
        </section>
    {% else %}
        <section class="no_email"></section>
    {% endif %}
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script>
    $('.messages-archive_all').click(function(event) {
        var button = $(this);
        event.preventDefault();

        swal({
            title: "Are you sure?",
            text: "Archive all messages?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Confirm",
            closeOnConfirm: false
        },
        function (isConfirm) {
            if (isConfirm) {
                var form = button.parents('form');
                form.find('#id_messages option').prop('selected', true);
                form.find('#id_action').val('read');
                form.submit();
            } else {
                return false;
            }
        });
    });
</script>
{% endblock %}
