{% extends 'layout_user.html' %}
{% load demo_tags %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="/static/styles/dashboard.css">
{% endblock %}

{% block content %}
<h1 class="heading">
    Dashboard
    <small><a href="{% url 'review-list' %}">View/Filter all demos</a></small>
</h1>

<div class="dashboard">
    <div class="split~680 by:2 with-gap:2">
        <div class="cel">
            {% include "includes/reviews_box.html" with reviews=open_reviews follows=followed_demos user=request.user %}
        </div>
        <div class="cel">
            {% include "includes/updates_box.html" with message_bundles=message_bundles user=request.user %}
        </div>
    </div>
    {% if open_demos %}
        {% include "includes/demos_box.html" with reviews=open_demos user=request.user %}
    {% endif %}
</div>

<div class="tip">
    <strong>Power tip</strong>: You can now simply type in {{ site_settings.SERVER_URL }}/DT-1234 to be redirected to a demo.
</div>
{% endblock %}
