{% extends 'layout-user.html' %}
{% block title %} - Inbox {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="container">
        <a href="{% url 'index' %}">Your dashboard</a> &gt; <a href="{% url 'inbox' %}">Inbox</a> &gt; Message
    </div>
</div>
{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    .message section {
        margin-top:2em;
        overflow:hidden;
    }
    section .message-nav {
        float:right;
    }
    .message-nav {
        display:inline-block;
        margin:0;
        border-radius:5px;
        padding:5px;
    }
    @media screen and (max-width:680px) {
        .message-nav {
            margin-top:20px;
        }
    }
    .message-nav li {
        display:inline-block;
        list-style:none;
    }
    a.button-link {
        margin:0 8px;
    }
</style>
{% endblock %}

{% block content %}
<div class="message">
    <h1 class="heading">{{ object.title }}</h1>
    <ul class="message-nav">
        <li>
            <a href="{% url 'inbox' %}" class="button-link">Back to inbox</a>
        </li>
        <li>
            <a href="{{ object.review.get_absolute_url }}" class="icon icon-right-dir" style="margin-left: 20px">Open this demo</a>
        </li>
    </ul>
    {% for msg in object.message_set.all %}
        <section>
            <p>
                From: {{ msg.sender }}<br>
                Sent: {{ msg.created }}
            </p>
            {{ msg.message|safe|linebreaksbr }}
        </section>
    {% endfor %}
    <ul class="message-nav">
        <li>
            <a href="{{ object.get_absolute_url }}?action=mark-unread" class="button-link">Mark Unread</a>
        </li>
        <li>
            <a href="{% url 'inbox' %}" class="button-link">Back to inbox</a>
        </li>
    </ul>
</div>
{% endblock %}

