{% extends 'base.html' %}
{% load demo_tags %}

{% block styles %}
{{ block.super }}
<style>
    .avatar {
        width:100%;
        height:auto;
    }
    .avatarless a {
        border:1px solid #C3B2FF;
        text-align:center;
        padding:80px 20px;
        display:block;
        transition:1s;
    }
    .avatarless a:hover {
        text-decoration:none;
        background:#ffffe7;
    }
    {% if not owner_viewing %}
    .reviews-updates > *,
    .tooltip {
        display:none;
    }
    {% endif %}
</style>
{% endblock %}

{% block content %}
<h1 class="heading">
    {% if owner_viewing %}Your Profile{% else %}{{ object }}'s Profile{% endif %}
    {% if owner_viewing %}
        <a href="{% url 'edit-profile' object.pk %}">(edit)</a>
    {% endif %}
</h1>

<div class="split~680 by:2/1 with-gap:5">
    <div class="cel">
        {% if object.avatar.name %}
            <img src="{{ MEDIA_URL }}{{ object.avatar.name }}" width="475" height="370" class="avatar">
        {% else %}
            {% if owner_viewing %}
                <div class="avatarless">
                    <a href="{% url 'edit-profile' object.pk %}">Edit your profile to add an avatar</a>
                </div>
            {% endif %}
        {% endif %}
        <section>
            <label>Display Name:</label>
            {{ object.display_name }}
            {% if owner_viewing %}
                <label>
                    Email:
                    {% if owner_viewing %}<span class="tooltip" title="Your email is not displayed publicly."></span>{% endif %}
                </label>
                {{ object.user.email }}
            {% endif %}
            {% if object.bio %}
                <label>
                    Bio:
                </label>
                {{ object.bio }}
            {% endif %}
        </section>
        {% if owner_viewing %}
            <a href="{% url 'edit-profile' object.pk %}">Edit Your Profile</a>
        {% endif %}
    </div>
    <div class="cel reviews-list">
        {% include "includes/reviews_box.html" with reviews=open_demos user=object.user type="demos" %}
        {% include "includes/reviews_box.html" with reviews=open_reviews user=object.user type="reviews" %}
        {% include "includes/reviews_box.html" with reviews=updated_demos user=object.user type="updates" %}
    </div>
{% endblock %}
