{% extends 'layout_user.html' %}
{% load demo_tags %}

{% block sub_nav %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/dashboard.css">
{{ block.super }}
<style>
    main .avatar {
        display: block;
        margin-bottom: 30px;
        max-width: 310px;
        height: auto;
    }
    .avatarless a {
        border: 1px solid #C3B2FF;
        text-align: center;
        padding: 80px 20px;
        display: block;
        transition: 1s;
    }
    .avatarless a:hover {
        text-decoration: none;
        background: #ffffe7;
    }
    {% if not owner_viewing %}
    .reviews-updates > *,
    .help {
        display: none;
    }
    {% endif %}
    h3 {
        font-size: 16px;
        font-weight: 700;
    }
    section {
        padding: 10px;
    }
    @media screen and (max-width:680px) {
        section {
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
        }
    }
    section ul {
        margin: 0;
    }
    section label:first-child {
        margin-top: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="dashboard">
    <h1 class="heading">
        {% if owner_viewing %}Your Profile{% else %}{{ object }}'s Profile{% endif %}
        <small>
            {% if owner_viewing %}
                <a href="{% url 'edit-profile' object.pk %}">edit</a>
            {% else %}
                <a href="{% url 'review-list' %}?creator={{ object.pk }}">View this user's demos</a>
            {% endif %}
        </small>
    </h1>

    {% if object.avatar.name %}
        <img src="{% url "user-media" object.avatar.name %}" class="avatar">
    {% else %}
        {% if owner_viewing %}
            <div class="avatarless">
                <a href="{% url 'edit-profile' object.pk %}">Edit your profile to add an avatar</a>
            </div>
        {% else %}
            <img src="/static/images/no_image.jpg" class="avatar">
        {% endif %}
    {% endif %}
    <section class="emph_high">
        <label>Display Name:</label>
        {{ object.display_name }}
        {% if owner_viewing %}
            <label>
                Email:
                {% if owner_viewing %}<span class="help" title="Your email is not displayed publicly."></span>{% endif %}
            </label>
            {{ object.user.email }}
        {% endif %}
        {% if object.bio %}
            <label>
                Bio:
            </label>
            {{ object.bio|safe }}
        {% endif %}
    </section>
</div>
{% endblock %}
