{% extends 'layout-user.html' %}
{% load macros %}
{% block title %}DT-{{ object.pk }}: {{ object.title }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="container">
        <a href="{% url 'index' %}">Your dashboard</a> &gt;
        <a href="{% url 'project-dashboard' project.slug %}">{{ project.name }}</a> &gt;
        DT-{{ object.pk }}: {{ object.title }}
    </div>
</div>
{% endblock %}

{% block sub_nav_actions %}
<ul class="subnav-item">
    {% if request.user == object.creator %}
        <li class="updated"><a href="{% url 'edit-review' object.project.slug object.pk %}" class="subnav-item icon icon-pencil">Revise</a></li>
        {% if object.state == 'closed' %}
            <li class="open"><a data-type="open" href="#" class="subnav-item review-changer icon icon-eye">Re-open</a></li>
        {% else %}
            <li class="closed"><a data-type="closed" href="#" class="subnav-item review-changer icon icon-ok">Close</a></li>
        {% endif %}
    {% else %}
        {% if reviewer and object.state != "closed" %}
            {% if reviewer.status == 'approved' %}
                <li class="approved state-highlight"><a data-type="reviewing" href="#" class="subnav-item review-changer icon icon-thumbs-up">Unapprove</a></li>
            {% else %}
                <li><a data-type="approved" href="#" class="subnav-item confirm review-changer icon icon-thumbs-up">Approve</a></li>
            {% endif %}
            {% if reviewer.status == 'rejected' %}
                <li class="rejected state-highlight"><a data-type="reviewing" href="#" class="subnav-item alert review-changer icon icon-thumbs-down">Unreject</a></li>
            {% else %}
                <li><a data-type="rejected" href="#" class="subnav-item alert review-changer icon icon-thumbs-down">Reject</a></li>
            {% endif %}
        {% endif %}
    {% endif %}
    <li><a class="subnav-item icon icon-plus" href="{% url 'create-review' object.project.slug %}">New demo</a></li>
</ul>
{% endblock %}

{% block styles %}
{{ block.super }}
<link href="/static/styles/review.css?{{ site_settings.CACHE_BUSTER }}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="review" id="review">
    <div class="review-top">
        {% if request.user == object.creator %}
            <div class="your-status">
                <h3>
                    Demo State:
                    {% if object.state == 'closed' %}
                        <canvas id="confetti" width="1" height="1"></canvas>
                        <script type="text/javascript" src="/static/scripts/confetti.js"></script>
                        <img src="/static/images/emoji/smiley.png" width="25" height="25">
                    {% endif %}
                    <strong>{{ object.state|capfirst }}</strong>
                </h3>
            </div>
        {% endif %}
        {% if reviewer %}
            <div class="your-status">
                <h3>
                    {% if object.state == 'closed' or  object.state == 'approved' %}
                        This demo is <strong>{{ object.state }}</strong>. No further action is required.
                    {% else %}
                        Your approval status:
                        {% if reviewer.status == 'approved' %}
                            <canvas id="confetti" width="1" height="1"></canvas>
                            <script type="text/javascript" src="/static/scripts/confetti.js"></script>
                            <img src="/static/images/emoji/smiley.png" width="25" height="25">
                        {% elif reviewer.status == 'rejected' %}
                            <img src="/static/images/emoji/frowning2.png" width="25" height="25">
                        {% endif %}
                        <strong>{{ reviewer.status|capfirst }}</strong>
                    {% endif %}
                </h3>
            </div>
        {% endif %}
        {% if object.state != "closed" %}
            {% for follower in object.follower_set.all %}
                {% if follower.user == request.user %}
                    <div class="your-status">
                        You are following this demo
                        <small class="person_deleter">
                            [<a href="#" class="person_deleter_link" data-action="drop_follower" data-person="{{ request.user.pk }}">unfollow</a>]
                        </small>
                        <span class="help" title="When you are assigned as a 'reviewer' you
                        will need to either approve or reject a demo. A follower can simply follow
                        the progress of a review without the ability or need to approve or reject."></span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="main-content">
        <h1 class="heading">
            <strong class="copy_link" data-clipboard-text="https://{{ site_settings.SERVER_URL }}/DT-{{ object.pk }}">DT-{{ object.pk }}</strong>: {{ object.title }}
                <small class="alert">
                {% if not revision.is_max_revision %}
                    Rev {{ revision.number }} of {{ object.reviewrevision_set.all.count }}
                {% endif %}
            </small>
        </h1>

        {# Events #}
        <div class="review_toggles">
            <a href="#" id="activity_toggler">Activity log</a>
        </div>
        <section class="review-overview events" id="events" style="display:none"></section>

        <div class="review-meta with-gap:5">
            <div class="cel">
                <h4 class="heading">Owner:</h4>
                <a href="{{ object.creator.userprofile.get_absolute_url }}">{{ object.creator.userprofile }}</a><br><br>
                {% if object.state != "closed" %}
                    <h4 class="heading">
                        Reviewer State:
                        <span class="help" title="The reviewer state is the over-arching state of the demo based on those assigned. For example, if 5 people assigned have 'approved' a demo and 1 person is still reviewing, the status would be 'Reviewing'"></span>
                    </h4>
                    {% if object.reviewer_state == "Approved" %}
                        <span class="icon-{{ object.reviewer_state }}">{{ object.reviewer_state|capfirst }}</span>
                    {% else %}
                        {{ object.reviewer_state|capfirst }}
                    {% endif %}
                    <br><br>
                {% endif %}
                <h4 class="heading">
                    Demo State:
                    <span class="help" title="The demo state is the state of the actual demo itself (Open, closed, etc)"></span>
                </h4>
                {{ object.state|capfirst }}
                {% if object.state == 'closed' %}
                    on {{ object.modified }}
                {% else %}
                    since {{ object.created|date:'M-d'}}, {{ object.created|date:'h:iA'|lower }}
                {% endif %}

                <br><br>
                <h4 class="heading">Case Link:</h4> <a href="{{ object.case_link }}" target="_blank">{{ object.case_link }}</a>
            </div>
            <div class="cel reviewers">
                <h4 class="heading">
                    Reviewers & Followers:
                    <span class="help" title="When you assign someone as a 'reviewer' they
                    will need to either approve or reject a demo. A follower can simply follow
                    the progress of a demo without the ability or need to approve or reject."></span>
                </h4>
                <ul class="reviewer_ul">
                    {% for reviewer in object.reviewer_set.all %}
                        <li>
                            <a class="icon icon-{{ reviewer.get_status_display }}"
                               href="{{ reviewer.reviewer.userprofile.get_absolute_url }}">
                                {{ reviewer.reviewer.userprofile }}</a>
                            <small>
                                {{ reviewer.get_status_display }} since {{ reviewer.modified|date:'m-d'}}, {{ reviewer.modified|date:'h:iA'|lower }}
                            </small>
                            {% if review.creator == request.user %}
                                <small class="person_deleter" style="display:none">
                                    [<a href="#" class="person_deleter_link" data-action="drop_reviewer" data-person="{{ reviewer.reviewer.pk }}">x</a>]
                                </small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="follower_ul">
                    {% for follower in object.follower_set.all %}
                        <li>
                            <a href="{{ follower.user.userprofile.get_absolute_url }}">
                                {{ follower.user.userprofile }}</a>
                            <small>
                                following
                            </small>
                            {% if review.creator == request.user or follower.user == request.user %}
                                <small class="person_deleter" style="display:none">
                                    [<a href="#" class="person_deleter_link" data-action="drop_follower" data-person="{{ follower.user.pk }}">x</a>]
                                </small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <ul class="find_person_ul">
                    {% if object.state != "closed" %}
                        <li class="find_person_li">
                            <div class="split by:2 with-gap:2">
                                <div class="cel">
                                    <input type="text" class="find_person" data-action="find_reviewer" placeholder="add reviewer" maxlength="3">
                                </div>
                                <div class="cel">
                                    <input type="text" class="find_person" data-action="find_follower" placeholder="add follower" maxlength="3">
                                </div>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="cel">
                <h4 class="heading">
                    Demo Revisions:
                    <span class="help" title="Every time you update a demo, its revision # increases. This way you can go back and reference old revisions if need be. Mouse over a revision to see when it was added."></span>
                </h4>
                {% for rev in object.reviewrevision_set.all %}
                    <div class="revision {% if revision.number == rev.number %}current{% endif %}">
                        <a title="{{ rev.modified }}" href="{{ rev.get_absolute_url }}">Revision {{ rev.number }}</a>
                        {% if rev.commentthread_set.count %}
                            <small>
                                (<span class="icon icon-comment">
                                    {{ rev.commentthread_set.count }}
                                </span>)
                            </small>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <article class="review-overview collapser_parent">
            <h3 class="icon icon-lightbulb collapser">Review Overview</h3>
            <section class="collapseable">
                <p>{{ object.description|safe|linebreaksbr }}</p>

                {% if revision.description and object.reviewrevision_set.all.count > 1 and revision.number > 1 %}
                    <div class="latest-revision-note">
                        <h3 class="heading">{% if revision.is_max_revision %}Latest Revision Note{% else %}Revision {{ revision.number }} Note{% endif %}</h3>
                        <section>
                            <p>{{ revision.description|safe|linebreaksbr }}</p>
                        </section>
                    </div>
                {% endif %}
            </section>

        </article>

        {% if revision.attachments.exists %}
            <article class="collapser_parent">
                <h3 class="icon icon-attach collapser">Attachments</h3>
                <section class="attachments collapseable">
                    {% for attachment in revision.attachments.all %}
                        {% include "includes/review_attachment.html" with attachment=attachment %}
                    {% endfor %}
                </section>
            </article>
        {% endif %}

        {% if revision.commentthread_set.all %}
            <article class="comment_wrapper" id="comments">
                <h3 class="icon icon-comment collapser">Feedback</h3>
                <section class="comments">
                    {% macro attachments %}
                        {% for attachment in comment.attachments.all %}
                            {% include "includes/review_attachment.html" with attachment=attachment %}
                        {% endfor %}
                    {% endmacro %}

                    {% macro attachment %}
                        <section>
                            {% include "includes/attachments_form.html" with form=attachment_form cols=3 %}
                            {{ form.attachment.errors }}
                        </section>
                    {% endmacro %}

                    {% macro comment button_text %}
                        <form>
                            <label class="icon icon-comment" for="{{ comment_form.comment.id_for_label }}">Reply to this {{ comment_form.comment.label }}</label>
                            {{ comment_form.comment.errors }}
                            {{ comment_form.comment }}
                            <div class="summary">
                                <label class="icon icon-attach"><a href="#">Add optional {{ attachment_form.attachment.label }}</a></label>
                            </div>
                            <div class="toggled_text attachments">
                                {% use_macro attachment %}
                                <input id="id_thread" name="thread" value="{{ thread.pk }}" type="hidden">
                            </div>
                            <div class="form-group">
                                <input type="button" class="new_comment_button" value="{% if button_text %}{{ button_text }}{% else %}Post{% endif %}">
                                {% if reviewer and request.user != object.creator and reviewer.status != 'approved' %}
                                    <input class="reply_and_approve" data-type="approved" type="button" value="Reply and Approve">
                                {% endif %}
                            </div>
                        </form>
                    {% endmacro %}

                    {% for thread in revision.commentthread_set.all %}
                        <section id="{{ thread.pk }}" data-thread="{{ thread.pk }}" class="comment_parent collapser_parent">
                            {% for comment in thread.comment_set.all %}
                                {% if forloop.first %}
                                    <label class="icon collapser icon-minus-squared-alt">
                                        New comment by
                                        <a href="{{ comment.commenter.userprofile.get_absolute_url }}">
                                            {{ comment.commenter.userprofile }}
                                        </a> @
                                        <a href="{{ review.get_absolute_url }}#{{ comment.pk }}">
                                            {{ comment.created }}
                                        </a>
                                        {% if comment.commenter == request.user %}
                                            (<a href="{% url 'update-comment' comment.pk %}">edit this reply</a>)
                                        {% endif %}
                                    </label>
                                    <blockquote class="collapseable">
                                        <p>{{ comment.comment|safe|linebreaksbr }}</p>
                                    </blockquote>
                                    {% use_macro attachments %}
                                {% else %}
                                    <div class="comments-reply collapseable">
                                        <blockquote>
                                            <div class="blockquote-header">
                                                Reply by
                                                <a href="{{ comment.commenter.userprofile.get_absolute_url }}">
                                                    {{ comment.commenter.userprofile }}
                                                </a> @
                                                <a href="{{ review.get_absolute_url }}#{{ comment.pk }}">
                                                    {{ comment.created }}
                                                </a>
                                                {% if comment.commenter == request.user %}
                                                    (<a href="{% url 'update-comment' comment.pk %}">edit this reply</a>)
                                                {% endif %}
                                            </div>
                                            <div class="blockquote-body">
                                                <p>{{ comment.comment|safe|linebreaksbr }}</p>
                                            </div>
                                        </blockquote>
                                        {% use_macro attachments %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="comments-reply_new collapseable">
                                <a href="#" class="icon icon-comment expand_reply_link">Reply</a>
                                <div class="comment_container" {% if not comment_form.comment.errors %}style="display:none"{% endif %}>
                                    {% use_macro comment 'Reply' %}
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                </section>
            </article>
        {% endif %}

        <article class="comment_wrapper">
            <h3 class="heading">Post a New Comment</h3>
            <section class="comment_parent new_comment">
                <div class="comment_container">
                    {% use_macro comment 'Reply' %}
                </div>
            </section>
        </article>
    </div>
</div>
{% endblock %}

{% block patterns %}
{{ block.super }}
<script type="text/x-pattern" id="new_reviewers">
<% _.each(person, function(person) { %>
<li><a href="#" data-reviewer="<%= person.pk %>" data-action="add_reviewer" class="add_person_click"><%= person.name %></a></li>
<% }) %>
</script>
<script type="text/x-pattern" id="new_followers">
<% _.each(person, function(person) { %>
<li><a href="#" data-reviewer="<%= person.pk %>" data-action="add_follower" class="add_person_click"><%= person.name %></a></li>
<% }) %>
</script>
<script type="text/x-pattern" id="added_reviewer">
<li><a href="/accounts/profile/<%= person.attributes.reviewer_user_pk %>"><%= person.attributes.reviewer_name %></a> <small><%= person.attributes.reviewer_status %></small></li>
</script>
<script type="text/x-pattern" id="added_follower">
<li><a href="/accounts/profile/<%= person.attributes.follower_user_pk %>"><%= person.attributes.follower_name %></a> <small>following</small></li>
</script>
<script type="text/x-pattern" id="events_pattern">
<a href="#" id="refresh_events"><img src="/static/images/refresh.png" border="0" width="20" height="20"></a>
<% _.each(moments, function(moment) { %>
    <% console.log(moment) %>
    <section>
        <strong><%= new Date(moment.created) %></strong> <a href="/accounts/profile/<%= moment.user.pk %>"><%= moment.user.name %></a> made an update
        <div style="margin:10px 0 0">
            <% if (moment.event_type.code == 'reviewer-added' || moment.event_type.code == 'follower-added') { %>
                <a href="/accounts/profile/<%= moment.related_object.user_pk %>"><%= moment.related_object.name %></a> was added as a <%= moment.related_type %>
            <% } else if (moment.event_type.code == 'demo-created') { %>
                This demo was created
            <% } else if (moment.event_type.code == 'reviewer-approved') { %>
                <a class="icon icon-Approved"></a> <%= moment.user.name %> approves!
            <% } else if (moment.event_type.code == 'reviewer-rejected') { %>
                <a class="icon icon-Rejected"></a> <%= moment.user.name %> rejects.
            <% } else if (moment.event_type.code == 'reviewer-reset') { %>
                <%= moment.user.name %> resets an approval status.
            <% } else if (moment.event_type.code == 'comment-added') { %>
                <blockquote>
                    <%= moment.related_object.comment %>
                </blockquote>
            <% } else { %>
                <%= moment.event_type.name %>
            <% } %>
        </div>
    </section>
<% }); %>
</script>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="/static/scripts/Mention.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script>
var mentions = new DemoTime.Mention({
    user_url: "{% url 'user-api' %}"
});
</script>
<script src="/static/scripts/Review.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script src="/static/scripts/ReviewActivity.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script src="/static/scripts/Reviewers.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script src="/static/scripts/Comments.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script src="/static/scripts/review_utils.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script src="/static/scripts/library/autolinker.min.js"></script>
<script>
// Scope regions where auto-linking is enabled
$('.review-overview, .comment_parent, .attachment-description').each(function() {
    var $area = $(this),
        $html = $area.html(),
        linkedText = Autolinker.link($html, { twitter: false });

    $area.html(linkedText);
});
// Remove links from within code areas
$('pre a').each(function() {
    $(this).contents().unwrap().wrap('<span />');
})

// Initialize the Review app
var review = new DemoTime.Review({
    {% if reviewer %}
        is_reviewer: true
        , reviewer_pk: {{ reviewer.pk }}
        , reviewer_url: '{% url "update-reviewer-status" revision.review.project.slug revision.review.pk reviewer.pk %}'
    {% else %}
        is_reviewer: false
    {% endif %}
    , reviewer_state: '{{ review.reviewer_state }}'
    {% if request.user == object.creator %}
        , is_creator: true
        , review_url: '{% url "update-review-state" revision.review.project.slug revision.review.pk %}'
    {% else %}
        , is_creator: false
    {% endif %}
    , review_pk: {{ revision.review.pk }}
    , creator_pk: {{ object.creator.pk }}
});

var review_activity = new DemoTime.ReviewActivity({
    project_slug: '{{ revision.review.project.slug }}'
    , review_pk: '{{ revision.review.pk }}'
})

// Initialize the ability to modify demo reviewers
var modify_reviewers = new DemoTime.Reviewers({
    url: '{% url 'user-api' %}',
    review_pk: '{{ review.pk }}'
});

// set up background tasks (new messages, comments etc)
var background_tasks = new DemoTime.BackgroundTasks({
    json_url: '{% url "messages-json" review.pk %}'
});

// Initialize AJAXy comments
var comments = new DemoTime.Comments({
    comments_url: "{% url 'comments-api' proj_slug=revision.review.project.slug review_pk=revision.review.pk rev_num=revision.number %}"
});
</script>
{% endblock %}
