{% extends 'base.html' %}
{% load macros %}
{% block title %} - {{ object.title }}{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    .review-overview ol {
        margin:0;
        padding-left:20px;
    }
    .review-overview ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    .review-overview h4 {
        margin:0;
    }
    .review h3 {
        margin-top:3em;
    }
    .manage-review {
        padding:10px;
        text-align:right;
        margin:1em 0 4em;
    }
    .manage-review ul {
        margin:0;
        padding:0;
        display:inline-block;
    }
    .manage-review ul li {
        list-style:none;
        display:inline-block;
        margin-left:20px;
        padding:1em 0 1em 1em;
    }
    .manage-review a {
        color:#fff;
    }
    .comments h4 {
        margin-top:2.5em;
    }
    .comments-reply {
        font-size:0.8em;
    }
    .comments .attachment-card {
        margin:-13px 0;
    }
    .attachment-card h3 {
        font-size:1em;
    }
    .comments-reply,
    .comments-reply_new {
        margin:2em 0 1em 2em;
    }
    .comments-reply_new {
        overflow:hidden;
    }
    .comments-reply_new textarea {
        height:80px;
    }
    .comments-reply h4 {
        text-align:right;
        color:#aaa;
        margin:0;
    }
    .comments-reply_new input[type="submit"] {
        float:right;
        margin-top:-10px;
    }
    @media screen and (max-width:680px) {
        .comments-reply_new input[type="submit"] {
            float:none;
        }
    }
    .comments h4 {
        clear:both;
        margin-top:3em;
    }
    .comments .collapser {
        cursor:pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="review">
    <div class="manage-review">
        <ul>
            {% if request.user == object.creator %}
                <li><a href="{% url 'edit-review' object.pk %}" class="button-link icon icon-pencil">Update demo</a></li>
                <li><a href="#" class="button-link icon icon-ok">Close demo</a></li>
            {% else %}
                <li><a href="#" class="button-link icon icon-thumbs-up-1">Accept demo</a></li>
                <li><a href="#" class="button-link alert icon icon-thumbs-down">Reject demo</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="main-content">
        <h1>{{ object.title }}</h1>
    </div>

    <div class="split~680 by:3 review-overview">
        <div class="cel">
            <h4>Case Link:</h4> <a href="{{ object.case_link }}">{{ object.case_link }}</a>
        </div>
        <div class="cel">
            <h4>Reviewers:</h4>
            <ul class="list-inline">
            {% for reviewer in object.reviewer_set.all %}
                <li>{{ reviewer.reviewer.username }}: {{ reviewer.get_status_display }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="cel">
            <h4>
                Revisions:
                <span class="tooltip" title="Every time you update a demo, it's revision # increases. This way you can go back and reference old revisions if need be."></span>
            </h4>
            <ol>
                {% for revision in object.reviewrevision_set.all %}
                    <li><a href="{{ revision.get_absolute_url }}">Revision {{ forloop.revcounter }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <h3 class="icon icon-lightbulb">Description</h3>
    <section>
        {% if revision.description %}
            <p>{{ revision.description|safe|linebreaksbr }}</p>
        {% else %}
            <p>{{ object.description|safe|linebreaksbr }}</p>
        {% endif %}
    </section>

    {% if not revision.attachments.exists %}
        <h3>Attachments</h3>
        <section>
            <p>No attachments exist</p>
        </section>
    {% else %}
        <h3 class="icon icon-attach">Attachments</h3>
        <section>
            {% for attachment in revision.attachments.all %}
                {% include "includes/review_attachment.html" with attachment=attachment %}
            {% endfor %}
        </section>
    {% endif %}

    <h3 class="icon icon-comment">Previous comments</h3>
    <section class="comments">
        {% if revision.commentthread_set.all %}
            {% macro attachments %}
                {% for attachment in comment.attachments.all %}
                    {% include "includes/review_attachment.html" with attachment=attachment %}
                {% endfor %}
            {% endmacro %}

            {% macro attachment %}
                <section>
                    <div class="split~680 by:3 with-gap:3">
                        {% include "includes/attachments_form.html" with form=attachment_form %}
                    </div>
                    {{ form.attachment.errors }}
                </section>
            {% endmacro %}

            {% macro form %}
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="icon icon-comment" for="{{ comment_form.comment.id_for_label }}">Reply to this {{ comment_form.comment.label }}</label>
                    {{ comment_form.comment }}
                    {{ comment_form.comment.errors }}
                    <div class="summary">
                        <label class="icon icon-attach">{{ attachment_form.attachment.label }} (<em>Optional</em>) - <a href="#">(add attachment)</a></label>
                    </div>
                    <div class="toggled_text attachments">
                        {% usemacro attachment %}
                        <input id="id_thread" name="thread" value="{{ thread.pk }}" type="hidden">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-large" type="submit" value="Reply">
                    </div>
                </form>
            {% endmacro %}

            {% for thread in revision.commentthread_set.all %}
                {% for comment in thread.comment_set.all %}
                    {% if forloop.first %}
                        <h4 class="icon collapser icon-minus-squared-alt">New comment by {{ comment.commenter }} @ {{ comment.created }}</h4>
                        <div class="collapseable">
                        <blockquote>
                            <p>{{ comment.comment|safe|linebreaksbr }}</p>
                        </blockquote>
                        {% usemacro attachments %}
                    {% else %}
                        <div class="comments-reply">
                            <div><blockquote>
                                <p>{{ comment.comment|safe|linebreaksbr }}</p>
                                <h4>Reply by {{ comment.commenter }} @ {{ comment.created }}</h4>
                            </blockquote>
                            {% usemacro attachments %}
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
                <div class="comments-reply_new">
                    {% usemacro form %}
                </div>
            {% endfor %}
        {% else %}
            No comments
        {% endif %}
    </section>

    <h3 class="icon icon-comment">Post a New Comment</h3>
    <section>
        {% usemacro form %}
    </section>
</div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}
<script>
    $('.collapser').click(function() {
        var collapser = $(this);
        collapser.next('.collapseable').slideToggle(function() {
            if ($(this).is(":visible")) {
                collapser.removeClass('icon-plus-squared-alt');
                collapser.addClass('icon-minus-squared-alt');
                $(this).next('.comments-reply_new').slideDown('fast');
            } else {
                collapser.addClass('icon-plus-squared-alt');
                collapser.removeClass('icon-minus-squared-alt');
                $(this).next('.comments-reply_new').slideUp('fast');
            }
        });
    });
</script>
{% endblock %}

