{% extends 'layout-user.html' %}
{% block title %}Project {{ object.name }} Administration{% endblock %}

{% block sub_nav_contents %}
    <a href="javascript:history.back()" class="subnav-item">Cancel</a></li>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="container">
        <a href="{% url 'index' %}">Your dashboard</a> &gt;
        {% if hook.pk %}
            Edit {{ hook.get_trigger_event_display }} Web Hook
        {% else %}
            New Web Hook
        {% endif %}
    </div>
</div>
{% endblock %}

{% block styles %}
{{ block.super }}
<style>
a.error {
    transition:5s;
}
.project h3 {
    font-size:1.1em;
    font-weight:400;
}
.project select {
    margin-bottom:2em;
}
.project {
    font-size: 12px;
}
.form-group.first {
    margin-top: 0;
}
.project label {
    font-size: 1.7em;
    color: #555;
    font-weight: 400;
}
.project section p:first-child {
    margin-top: 0;
}
.project section section section {
    box-shadow: none;
    background: #f7f7f7;
    padding: 10px;
}
.project section label {
    color: #777;
    font-size: 1.3em;
    margin-top: 0;
    padding-top: 0;
}
section .form-group {
    margin-top: 0;
}
@media screen and (max-width:680px) {
    h3 small {
        display: block;
        font-size: 11px;
    }
}
.groups,
.members {
    overflow: hidden;
}

label[for="id_is_public"],
.groups label,
.members label {
    display: inline-block;
}

.groups select {
    margin: 0 5px;
}

.groups a,
.members a {
    display: inline-block;
    margin-top: 10px;
}

.group,
.member {
    float: left;
    width: 33%;
    margin-bottom: 15px;
}
.group {
    width: 50%;
}
@media screen and (max-width:680px) {
    .group,
    .member {
        width: 50%;
    }
    .group {
        width: 100%;
    }
}

.project input[type="checkbox"] {
    position: relative;
    top: -1px;
    left: 3px;
}
section label[for="id_is_public"] {
    font-weight: 700;
    margin-top: 20px;
}

</style>
{% endblock %}

{% block content %}
{% if hook.pk %}
    <h1>Editing {{ project.name }} {{ hook.get_trigger_event_display }} Web Hook</h1>
{% else %}
    <h1>New Web Hook</h1>
{% endif %}

<article class="project">
    <section>
        {% if hook.pk %}
            <form action="{% url 'webhook-edit' project.slug hook.pk %}" method='post'>
        {% else %}
            <form action="{% url 'webhook-create' project.slug %}" method='post'>
        {% endif %}
            {% csrf_token %}
            {# WebHook FORM #}
            <h3 class="icon icon-pencil">
                Web Hook Details
            </h3>
            <section>
                {{ form.as_p }}
            </section>
            <input type="button" value="Cancel" onclick="javascript: history.go(-1)">
            <input type="submit" value="Submit" />
        </form>
    </section>
</article>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="/static/scripts/EditGroupsProjects.js?{{ site_settings.CACHE_BUSTER }}"></script>
<script>
var edit = new DemoTime.EditGroupsProjects();
</script>
{% endblock %}
