<div class="attachment-container split~680 by:3 with-gap:3">
    <div class="attachment-type" style="display: none">
        <label>File type:</label>
        {% for select in form.attachment_type %}
            <div>
                {{ select }}
            </div>
        {% endfor %}
    </div>
    <div class="attachment-file cel">
        <label>Attach your file:</label>
        {{ form.attachment }}
        {{ form.attachment.errors }}
    </div>
    <div class="attachment-desc cel">
        <label>Short description:</label>
        {{ form.description }}
        {{ form.description.errors }}
    </div>
    <div class="cel">
        {% if cols == 3 %}
            {% if forloop.counter < attachment_forms|length %}
                <label>&nbsp;</label>
                <a href="#" class="attachment-add icon icon-plus-circled">add another</a>
            {% endif %}
        {% endif %}
    </div>
</div>
