{% load demo_tags %}

{% creator_for_user demo.pk as creator_obj %}
<div class="demobox
        {% if request.user == creator_obj.user %}
            owner
        {% endif %}
        {% reviewer_status demo user %}
        {{ demo.state }}
        {{ demo.reviewer_state }}">
    <div class="demobox-header">
        <span class="icon-{% reviewer_status demo user %}">
            <a class="has_bubble"
            data-prj="{{ demo.project.pk }}"
            data-pk="{{ demo.pk }}"
            href="{{ demo.get_absolute_url }}">DT-{{ demo.pk }}</a>

            {% include "includes/review_state.html" %}

            {% if draft %}
                <strong>
                    - <a href="{% url 'edit-review' demo.project.slug demo.pk %}">edit</a>
                    - <a class="demo-changer"
                        data-creator="{{ creator_obj.pk }}"
                        data-pk="{{ demo.pk }}"
                        data-state="cancelled"
                        data-url="{% url 'update-review-state' demo.project.slug demo.pk %}"
                        href="#">cancel</a></span>

                </strong>
            {% endif %}

            <small class="time_stamp">
                {{ demo.state|capfirst }}
                {% if object.state == 'closed' %}
                    {{ demo.modified }}
                {% else %}
                    {{ demo.created|date:'M-d'}}, {{ demo.created|date:'h:iA'|lower }}
                {% endif %}
            </small>
        </span>
    </div>
    <div class="demobox-body">
        <a href="{{ demo.get_absolute_url }}">
            {{ demo.title }}
        </a>
        <div class="{{ demo.reviewer_state }} {{ demo.state }}"></div>
    </div>
</div>
