{# Your demos #}

<h3 class="icon icon-calendar">
    {% if request.user.pk == user.pk %}
        Active Demos You've Created
        <a href="{% url 'review-list' %}?creator={{ user.pk }}">(View all)</a>
    {% else %}
        Demos {{ user.userprofile }} has created
    {% endif %}
</h3>

<section class="demos {% if not reviews %}done{% endif %}">
    {% if reviews %}
        <ul>
            {% for demo in reviews %}
                <li>
                    <span>
                        DT-{{ demo.pk }}:
                        <a data-pk="{{ demo.pk }}" href="{{ demo.get_absolute_url }}">
                            {{ demo.title }}
                        </a>
                    </span>
                    <small class="{{ demo.reviewer_state }}">
                        {% if demo.state == "closed" %}
                            {{ demo.state }}
                        {% else %}
                            {% if demo.reviewer_state == "reviewing" %}
                                active
                            {% else %}
                                {{ demo.reviewer_state }}
                            {% endif %}
                        {% endif %}
                    </small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
