{# Your demos #}

<h3 class="icon icon-calendar">
    {% if request.user.pk == user.pk %}
        Active Demos You've Created
        <small>
            <a href="{% url 'review-list' %}?creator={{ user.pk }}">View all</a>
        </small>
    {% else %}
        Demos {{ user.userprofile }} has created
    {% endif %}
</h3>

<section class="emph_low {% if not reviews %}done{% endif %}">
    {% if reviews %}
        <ul>
            {% for demo in reviews %}
                {% include "includes/reviews_li.html" with truncate='false' %}
            {% endfor %}
        </ul>
    {% endif %}
</section>
