<div>
    <% if (moment.event_type.code == 'reviewer-added' || moment.event_type.code == 'follower-added') { %>
        <a href="/accounts/profile/<%= moment.related_object.user_pk %>"><%= moment.related_object.name %></a> was added as a <%= moment.related_type %>
    <% } else if (moment.event_type.code == 'demo-created') { %>
        This demo was <strong>created</strong>. Let the games begin
    <% } else if (moment.event_type.code == 'reviewer-approved') { %>
        <a class="icon icon-Approved"></a> <%= moment.user.name %> <strong>approves</strong>!
        <% if (moment.review.reviewing_count) { %>
            Only <%= moment.review.reviewing_count %>
            <% if ((moment.review.reviewing_count) > 1) { %>
                approvals
            <% } else { %>
                approval
            <% } %>
            to go!
        <% } %>
    <% } else if (moment.event_type.code == 'demo-approved') { %>
        <a class="icon icon-Approved"></a> This demo was <strong>fully approved</strong>!
    <% } else if (moment.event_type.code == 'demo-closed') { %>
        This demo was <strong>closed</strong>, and there was much rejoicing
    <% } else if (moment.event_type.code == 'demo-opened') { %>
        This demo was <strong>re-opened</strong>. It begins again
    <% } else if (moment.event_type.code == 'demo-reviewing') { %>
        This demo is <strong>back under review</strong>
    <% } else if (moment.event_type.code == 'reviewer-rejected') { %>
        <a class="icon icon-Rejected"></a> <%= moment.user.name %> rejects
    <% } else if (moment.event_type.code == 'demo-rejected') { %>
        <a class="icon icon-Rejected"></a> <%= moment.event_type.name %>
    <% } else if (moment.event_type.code == 'reviewer-reset') { %>
        <%= moment.user.name %> resets an approval status
    <% } else if (moment.event_type.code == 'reviewer-removed') { %>
        <%= moment.user.name %> was <strong>removed as a reviewer</strong>
    <% } else if (moment.event_type.code == 'follower-removed') { %>
        <%= moment.user.name %> was <strong>removed as a follower</strong>
    <% } else if (moment.event_type.code == 'demo-updated') { %>
        A new revision was added. <a href="<%= moment.related_object.url %>">View it here</a>
    <% } else if (moment.event_type.code == 'comment-added') { %>
        <blockquote>
            <% if (moment.related_object.comment) { %>
                <%= moment.related_object.comment %>
            <% } %>
            <% if (moment.related_object.attachments.length && moment.related_object.attachments[0].attachment_type == 'image') { %>
                <a href="<%= moment.related_object.attachments[0].static_url %>" class="lightbox_img">
                    <img src="<%= moment.related_object.attachments[0].static_url %>">
                </a>
            <% } %>
        </blockquote>
        <div class="demobox-footer"><a href="<%= moment.related_object.url %>" class="comment_link">go to this comment</a></div>
    <% } else { %>
        <strong><%= moment.event_type.name %></strong>
    <% } %>
</div>
