<div class="demobox">
    <div class="demobox-header">
        <div class="split by:3/1">
            <div class="cel">
                <a class="has_bubble"
                    data-prj="<%= feed_item.review.project.id %>"
                    data-pk="<%= feed_item.review.pk %>"
                    href="<%= feed_item.review.url %>">DT-<%= feed_item.review.pk %></a>:
                <a title="<%= new Date(feed_item.created) %>" href="<%= feed_item.review.url %>"><%= feed_item.review.title %></a>
            </div>
            <div class="cel" style="text-align: right">
                <% if (feed_item.review.reviewer_state == "reviewing") { %>
                    <% if (feed_item.review.reviewing_count) { %>
                        <span class="icon icon-reviewing" title="Reviewing"><sup><%= feed_item.review.reviewing_count %></sup></span>
                    <% } %>
                    <% if (feed_item.review.approved_count) { %>
                        <span class="icon icon-approved" title="Approved"><sup><%= feed_item.review.approved_count %></sup></span>
                    <% } %>
                    <% if (feed_item.review.rejected_count) { %>
                        <span class="icon icon-rejected" title="Rejected"><sup><%= feed_item.review.rejected_count %></sup></span>
                    <% } %>
                    <% if (feed_item.review.active_issues_count) { %>
                        <span class="icon icon-issue" title="Open Issues"><sup><%= feed_item.review.active_issues_count %></sup></span>
                    <% } %>
                <% } else { %>
                    <small>
                        <%= feed_item.review.reviewer_state %>
                    </small>
                <% } %>
            </div>
        </div>
    </div>
    <div class="demobox-body">
        <% if (feed_item.event_type.code == 'reviewer-added' || feed_item.event_type.code == 'follower-added') { %>
            <a href="<%= feed_item.related_object.user_profile_url %>"><%= feed_item.related_object.name %></a> was added as a <%= feed_item.related_type %>
        <% } else if (feed_item.event_type.code == 'demo-created') { %>
            This demo was <strong>created</strong>. Let the games begin
        <% } else if (feed_item.event_type.code == 'reviewer-approved') { %>
            <a class="icon icon-Approved"></a> <%= feed_item.user.name %> <strong>approves</strong>!
        <% } else if (feed_item.event_type.code == 'demo-approved') { %>
            <a class="icon icon-Approved"></a> This demo was <strong>fully approved</strong>!
        <% } else if (feed_item.event_type.code == 'demo-closed') { %>
            This demo was <strong>closed</strong>, and there was much rejoicing
        <% } else if (feed_item.event_type.code == 'demo-opened') { %>
            This demo was <strong>re-opened</strong>. It begins again
        <% } else if (feed_item.event_type.code == 'demo-reviewing') { %>
            This demo is <strong>back under review</strong>
        <% } else if (feed_item.event_type.code == 'reviewer-rejected') { %>
            <a class="icon icon-Rejected"></a> <%= feed_item.user.name %> rejects
        <% } else if (feed_item.event_type.code == 'demo-rejected') { %>
            <a class="icon icon-Rejected"></a> <%= feed_item.event_type.name %>
        <% } else if (feed_item.event_type.code == 'reviewer-reset') { %>
            <%= feed_item.user.name %> resets an approval status
        <% } else if (feed_item.event_type.code == 'reviewer-removed') { %>
            <%= feed_item.related_object.name %> was <strong>removed as a reviewer</strong> by <a href="<%= feed_item.related_object.user_profile_url %>"><%= feed_item.user.name %></a>
        <% } else if (feed_item.event_type.code == 'follower-removed') { %>
            <%= feed_item.related_object.name %> was <strong>removed as a follower</strong> by <a href="<%= feed_item.related_object.user_profile_url %>"><%= feed_item.user.name %></a>
        <% } else if (feed_item.event_type.code == 'demo-updated') { %>
            A new revision was added. <a href="<%= feed_item.related_object.url %>">View it here</a>
        <% } else if (feed_item.event_type.code == 'issue-created' || feed_item.event_type.code == 'issue-resolved') { %>
            <% console.log(feed_item) %>
            <strong><%= feed_item.event_type.name %></strong> by <a href="<%= feed_item.related_object.user_profile_url %>"><%= feed_item.user.name %></a>
        <% } else if (feed_item.event_type.code == 'comment-added') { %>
            <blockquote>
                <% if (feed_item.related_object.comment) { %>
                    <%= feed_item.related_object.comment %>
                <% } %>
                <% if (feed_item.related_object.attachments.length) { %>
                    <% for (var x = 0; x < feed_item.related_object.attachments.length; x++) { %>
                        <div class="demobox attachment-card" style="margin-top: 10px">
                            <div class="demobox-header">
                                <div class="heading icon icon-<%= feed_item.related_object.attachments[x].attachment_type %>">
                                    <%= feed_item.related_object.attachments[x].attachment_type %>
                                    <% if (feed_item.related_object.attachments[x].description) { %>
                                        <strong>- <%= feed_item.related_object.attachments[x].description %></strong>
                                    <% } %>
                                </div>
                            </div>
                            <div class="demobox-body">
                                <% if (feed_item.related_object.attachments[x].attachment_type == 'image') { %>
                                    <a href="<%= feed_item.related_object.attachments[x].static_url %>" class="lightbox_img">
                                        <img src="<%= feed_item.related_object.attachments[x].static_url %>">
                                    </a>
                                <% } else if (feed_item.related_object.attachments[x].attachment_type == 'movie') { %>
                                    <video src="<%= feed_item.related_object.attachments[x].static_url %>" controls="true"></video>
                                    <br><small><a href="<%= feed_item.related_object.attachments[x].static_url %>">download this</a></small>
                                <% } else if (feed_item.related_object.attachments[x].attachment_type == 'audio') { %>
                                    <audio src="<%= feed_item.related_object.attachments[x].static_url %>" controls="true"></audio>
                                <% } else { %>
                                    <a href="<%= feed_item.related_object.attachments[x].static_url %>" class="icon icon-attach">Download attachment</a>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </blockquote>
        <% } else { %>
            <strong><%= feed_item.event_type.name %></strong>
        <% } %>
    </div>
    <div class="demobox-footer">
        <div class="split by:3/1">
            <div class="cel">
                <small title="<%= new Date(feed_item.created) %>">
                    <%= moment(feed_item.modified).fromNow() %>
                    <% if (feed_item.event_type.code != 'reviewer-removed' && feed_item.event_type.code != 'follower-removed') { %>
                        by <a href="<%= feed_item.user.url %>"><%= feed_item.user.name %></a>
                    <% } %>
                </small>
            </div>
            <% if (feed_item.event_type.code == 'comment-added') { %>
                <div class="cel" style="text-align: right">
                    <small><a href="<%= feed_item.related_object.url %>" data-comment-id="<%= feed_item.related_object.id %>" class="comment_link">to comment &gt;</a></small>
                </div>
            <% } else if (feed_item.event_type.code == 'issue-created') { %>
                <% console.log(feed_item) %>
                <div class="cel" style="text-align: right">
                    <small><a href="<%= feed_item.related_object.comment_url %>" data-comment-id="<%= feed_item.related_object.id %>" class="comment_link">to issue &gt;</a></small>
                </div>
            <% } %>
        </div>
    </div>
</div>
