<h3 class="heading">Iconography Legend</h3>
<div class="legend">
    <section style="min-height:0">
        <ul>
            <li>
                <span>
                    <strong>Bolded</strong> demos require an approval / rejection action from you
                </span>
            </li>
            <li><span class="icon icon-Reviewing">You are assigned to this demo and have not yet approved/rejected it</span></li>
            <li><span class="icon icon-Approved">You have approved this demo</span></li>
            <li><span class="icon icon-Rejected">You have rejected this demo</span></li>
            <li>
                <span>
                    <img src="/static/images/ic_attach.svg" data-pin-nopin="true" width="15" height="15">
                    Copy this demo URL to clipboard
                </span>
            </li>
            <li>
                <span>
                    <strong>Tip</strong>: Hover over DT-XYZ to see a helpful pop-up bubble
                </span>
            </li>
        </ul>
    </section>
</div>
