<h3 class="heading">Iconography Legend</h3>
<div class="legend">
    <section style="min-height:0">
        <ul>
            <li>
                <span>
                    <strong>Bolded</strong> demos require an approval / rejection action from you
                </span>
            </li>
            <li><span class="icon icon-reviewing">You are assigned to this demo and have not yet approved / rejected it</span></li>
            <li><span class="icon icon-approved">You have approved this demo</span></li>
            <li><span class="icon icon-rejected">You have rejected this demo</span></li>
            <li>
                <span>
                    <strong>Tip</strong>: Hover over DT-XYZ to see a helpful pop-up bubble
                </span>
            </li>
        </ul>
    </section>
</div>
