<style>
.new_user_cta {
    margin: 5px 0 35px;
    background: #FF979D;
}
.new_user_cta h3,
.new_user_cta h3 a {
    color: #fff;
}
.new_user_cta section {
    overflow: hidden;
}
.new_user_cta section img {
    width: 100%;
    height: auto;
}
.new_user_cta section > div {
    float: left;
    width: 70%;
}
.new_user_cta section > div:first-child {
    width: 30%;
}
@media screen and (max-width:720px) {
    .new_user_cta section > div:first-child {
        display: none;
    }
    .new_user_cta section > div {
        float: none;
        width: 100%;
    }
}
</style>
    <article class="new_user_cta">
        <h3>You're new here! <a href="javascript: void(0); Cookies.set('suppress_new_user_cta', true); $('.new_user_cta').slideUp();" class="new_user_cta_dismiss">dismiss</a></h3>
        <section>
            <div>
                <img src="/static/images/monitor.png" width="300" height="300">
            </div>
            <div>
                <h2>Welcome to DemoTime</h2>
                <p>DemoTime is a real-time digital collaboration tool, making it fast, easy and fun to
                collaborate on any type of digital project!</p>
                <p><strong>Contribute to the conversation!</strong> <a href="{% url 'registration_register' %}">Sign up for free</a>! Registered users:
                <ul style="padding-left: 30px">
                    <li>Can comment on demos and receive feedback in real-time</li>
                    <li>Can create demos of their own. Share your work, invite others to critique it</li>
                    <li>Engage in the spirit of making things people make better</li>
                </ul>
            </div>
        </section>
    </article>
