{% load demo_tags %}
<div class="review_state">
    {% if demo.state == "closed" %}
        <small>{{ demo.state }}</small>
    {% elif demo.reviewer_state == "approved" %}
        <small>
            Fully {{ demo.reviewer_state }}!
            {% creator_for_user demo.pk as creator_obj %}
            {% if demo.state == "open" and request.user == creator_obj.user %}
            <span style="margin-left: 3px;">please
                <a class="demo-changer"
                   data-creator="{{ creator_obj.pk }}"
                   data-pk="{{ demo.pk }}"
                   data-state="closed"
                   data-url="{% url "update-review-state" demo.project.slug demo.pk %}"
                   data-url="" href="#">close this demo</a></span>
            {% endif %}
        </small>
    {% elif demo.reviewing_count or demo.reviewing_count or demo.rejected_count %}
        <span>
            {% if demo.reviewer_state == "reviewing" %}
                {% if demo.reviewing_count %}
                    <span class="icon icon-reviewing" title="Reviewing"><sup>{{ demo.reviewing_count }}</sup></span>
                {% endif %}
                {% if demo.approved_count %}
                    <span class="icon icon-approved" title="Approved"><sup>{{ demo.approved_count }}</sup></span>
                {% endif %}
                {% if demo.rejected_count %}
                    <span class="icon icon-rejected" title="Rejected"><sup>{{ demo.rejected_count }}</sup></span>
                {% endif %}
                {% if demo.open_issue_count %}
                    <span class="icon icon-issue" title="Open Issues"><sup>{{ demo.open_issue_count }}</sup></span>
                {% endif %}

            {% else %}
                <small>
                    {{ demo.reviewer_state }}
                </small>
            {% endif %}
        </span>
    {% endif %}
    {% if demo.reviewer_state != "approved" %}
        <small style="margin-left: 0">
            {% if demo.reviewer_state != 'rejected' %}
                {% for creator in demo.creator_set.active %}
                    {% if forloop.first and forloop.last %}
                        {% if request.user == creator.user %}
                            your demo
                        {% else %}
                            <a href="{{ demo.creator.userprofile.get_absolute_url }}">{{ creator.user.userprofile }}'s</a> demo
                        {% endif %}
                    {% endif %}
                    {% if forloop.first and not forloop.last %}
                        <a href="{{ creator.user.userprofile.get_absolute_url }}">{{ creator.user.userprofile }}</a>
                    {% endif %}
                    {% if not forloop.first and forloop.last %}
                        and <a href="{{ creator.user.userprofile.get_absolute_url }}">{{ creator.user.userprofile }}'s</a> demo
                    {% endif %}
                {% endfor %}
            {% endif %}
        </small>
    {% endif %}
</div>
