{% load demo_tags %}

{# Demos assigned to you #}

<h3 class="icon icon-inbox">
    Open Reviews Following/Assigned to
    {% if request.user.pk == user.pk %}
        You
    {% else %}
        {{ user }}
    {% endif %}
    <span class="help" title="Reviews are demos that have been assigned
        to you to review. You can leave feedback and ultimately approve or
        reject a demo. Your approval status appears to the left. Reviews you
        are following do not require your approval and you can simply
        follow their progress."></span>
</h3>

<section class="reviews {% if not reviews and not follows %}done{% endif %}">
    <ul>
        {% if reviews and follows %}
            <li>Reviewing:</li>
        {% endif %}
        {% for demo in reviews %}
            {% include "includes/reviews_li.html" %}
            {% if follows and forloop.last %}
                <li></li>
            {% endif %}
        {% endfor %}
        {% if follows %}
            <li>Following:</li>
            {% for demo in follows %}
                {% include "includes/reviews_li.html" %}
            {% endfor %}
        {% endif %}
    </ul>
</section>
