<div class="attachment-card {{ attachment.attachment_type }}">
    {% if comment.commenter == request.user %}
        <form style="display:none" class="delete_attachment_form" action="{% url 'update-comment-attachment' comment.pk attachment.pk %}"></form>
    {% endif %}
    <section data-id="{{ attachment.pk }}" {% if comment %}data-comment="{{ comment.pk }}"{% endif %}>
        <h3 class="heading icon icon-{{ attachment.attachment_type }}">
            {{ attachment.attachment_type|capfirst }}:
            <span class="tooltip alert" title="Reviewer note: {{ attachment.description }}"></span>
        </h3>
        {% if attachment.attachment_type == "audio" %}
            <audio src="{{ MEDIA_URL}}{{ attachment.attachment.name }}" controls="true">
        {% endif %}
        {% if attachment.attachment_type == "video" %}
            <video src="{{ MEDIA_URL}}{{ attachment.attachment.name }}" controls="true">
        {% endif %}
        {% if attachment.attachment_type == "photo" %}
            <span class="attachment-photo">
                <a href="{{ MEDIA_URL }}{{ attachment.attachment.name }}" class="lightboxed">
                    <img src="{{ MEDIA_URL }}{{ attachment.attachment.name }}" class="img-thumbnail" height=300 width=300>
                </a>
                {% if comment.commenter == request.user %}
                    <a href="#" class="delete_attachment">x</a>
                {% endif %}
            </span>
        {% endif %}
        {% if attachment.attachment_type == "document" %}
            <a href="{{ MEDIA_URL }}{{ attachment.attachment.name }}">Document: {{ attachment.pretty_name }}</a>
        {% endif %}
        {% if attachment.attachment_type == "other" %}
            <a href="{{ MEDIA_URL }}{{ attachment.attachment.name }}">Unknown File Type: {{ attachment.pretty_name }}</a>
        {% endif %}
        {% if attachment.attachment_type != "photo" %}
            {% if comment.commenter == request.user %}
                <small>(<a href="#" class="delete_attachment">delete</a>)</small>
            {% endif %}
        {% endif %}
    </section>
</div>
