<div class="demobox attachment-card {{ attachment.attachment_type }}">
    <div class="demobox-header">
        <div class="heading icon icon-{{ attachment.attachment_type }}">
            {{ attachment.attachment_type|capfirst }}
            {% if attachment.description %}
                <div class="attachment-description">{{ attachment.description }}</div>
            {% endif %}
        </div>
    </div>
    <div class="demobox-body">
        {% if attachment.attachment_type == "audio" %}
            <audio src="{% url "user-media" attachment.pk %}" controls="true"></audio>
        {% endif %}
        {% if attachment.attachment_type == "movie" %}
            <video src="{% url "user-media" attachment.pk %}" controls="true"></video>
            {% if attachment.attachment_type == "movie" %}
                <br><small><a href="{% url "user-media" attachment.pk %}">download this</a></small>
            {% endif %}
        {% endif %}
        {% if attachment.attachment_type == "image" %}
            <span class="attachment-image">
                <a href="{% url "user-media" attachment.pk %}" class="lightbox_img">
                    <img src="{% url "user-media" attachment.pk %}" class="img-thumbnail">
                </a>
            </span>
        {% endif %}
        {% if attachment.attachment_type == "document" %}
            <a href="{% url "user-media" attachment.pk %}">Document: {{ attachment.pretty_name|urlencode }}</a>
        {% endif %}
        {% if attachment.attachment_type == "other" %}
            <a href="{% url "user-media" attachment.pk %}">Unknown File Type: {{ attachment.pretty_name|urlencode }}</a>
        {% endif %}
    </div>
</div>
