{% load demo_tags %}

<li class="review_li {% reviewer_status demo user %} {{ demo.state }} {{ demo.reviewer_state }}">
    <div class="review_li-top">
        <span class="icon-{% reviewer_status demo user %}">
            <a class="has_bubble"
            data-prj="{{ demo.project.pk }}"
            data-pk="{{ demo.pk }}"
            href="{{ demo.get_absolute_url }}">DT-{{ demo.pk }}</a>

            {% include "includes/review_state.html" %}

            <small class="time_stamp">
                {{ demo.state|capfirst }}
                {% if object.state == 'closed' %}
                    {{ demo.modified }}
                {% else %}
                    {{ demo.created|date:'M-d'}}, {{ demo.created|date:'h:iA'|lower }}
                {% endif %}
            </small>
        </span>
    </div>
    <div class="review_li-bottom">
        <a href="{{ demo.get_absolute_url }}">
            {{ demo.title }}
        </a>
    </div>
</li>
