<style>
.mm-panel section {
    background: none;
    box-shadow: none;
    padding: 0;
    border: 0;
}
.mm-panel .demobox {
    box-shadow: none;
    font-size: 12px;
}
.mm-panel .heading {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 30px 0 5px;
}
.mm-panel .heading:first-child {
    margin-top: 0;
}
.mm-panel .time_stamp {
    display: none;
}
.mm-panel {
    background: #2a9c86 !important;
}
.mm-title {
    color: #fff !important;
}
.mm-page > div {
    background: #fff;
}
</style>

<nav id="panel" class="panel">
    <div class="dashboard">
        <section>
            <h3 class="heading">Created</h3>
            {% for demo in open_demos %}
                {% include "includes/demo.html" %}
            {% endfor %}
            <h3 class="heading">Reviewing</h3>
            {% for demo in open_reviews %}
                {% include "includes/demo.html" %}
            {% endfor %}
            <h3 class="heading">Drafts</h3>
            {% for demo in drafts %}
                {% include "includes/demo.html" with draft=True %}
            {% endfor %}
        </section>
    </div>
</nav>
