{% load demo_tags %}

<h3 class="icon icon-inbox">
    {% if request.user.pk == user.pk %}
        Your
    {% else %}
        {{ user }}'s
    {% endif %}
    inbox
    <span class="help" title="Reviews are demos that have been assigned
        to you to review. You can leave feedback and ultimately approve or
        reject a demo. Your approval status appears to the left. Reviews you
        are following do not require your approval and you can simply
        follow their progress."></span>
</h3>

<section class="updates">
    <div class="messages-list">
        <ul>
            {% for message in message_bundles %}
                <li {% if message.read %}class="de-emphasize"{% endif %}>
                    {% if message.review %}
                        <strong>
                            {% if message.review.creator != request.user %}
                                <a data-pk="{{ message.review.pk }}" title="Your approval status" class="dt_link icon-{% reviewer_status message.review request.user %}" href="{{ message.review.get_absolute_url }}">DT-{{ message.review.pk }}</a>:
                            {% else %}
                                <a data-pk="{{ message.review.pk }}" class="dt_link" href="{{ message.review.get_absolute_url }}">DT-{{ message.review.pk }}</a>:
                            {% endif %}
                        </strong>
                    {% endif %}
                    <a class="{{ message.read }}" href="{{ message.get_absolute_url }}">{{ message.title|truncatechars:48 }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
