{% load demo_tags %}

<h3 class="icon icon-inbox">
    {% if request.user.pk == user.pk %}
        Your
    {% else %}
        {{ user }}'s
    {% endif %}
    <a href="{% url 'inbox' %}" class="normal_text">inbox</a>
    <span class="help" title="Here is a list of reviews that have been
        recently updated. Click a title to view the message bundle and recent
        updates. Click the DT-XX link to jump in to the demo itself."></span>
</h3>

<section class="updates {% if not message_bundles %}done{% endif %}">
    <div class="messages-list">
        <ul>
            {% for message in message_bundles %}
                <li {% if message.read %}class="de-emphasize"{% endif %}>
                    {% if message.review %}
                        <strong>
                            <a href="#" class="copy_link" data-clipboard-text="https://{{ site_settings.SERVER_URL }}/DT-{{ message.review.pk }}" title="Copy URL"><img src="/static/images/ic_attach.svg"></a>
                            {% if message.review.creator != request.user %}
                                <a data-pk="{{ message.review.pk }}" title="Your approval status" class="dt_link icon-{% reviewer_status message.review request.user %}" href="{{ message.review.get_absolute_url }}">DT-{{ message.review.pk }}</a>:
                            {% else %}
                                <a data-pk="{{ message.review.pk }}" class="dt_link" href="{{ message.review.get_absolute_url }}">DT-{{ message.review.pk }}</a>:
                            {% endif %}
                        </strong>
                    {% endif %}
                    <a class="{{ message.read }}" href="{{ message.get_absolute_url }}">{{ message.title|truncatechars:35 }}</a>
                    {% if message.review.state == "closed" %}
                        <small>
                            {{ message.review.state }}
                        </small>
                    {% else %}
                        <span class="review_state">
                            {% if message.review.reviewer_state == "reviewing" %}
                                {% if message.review.reviewing_count %}
                                    <span title="# Reviewing" class="icon icon-reviewing"><sup>{{ message.review.reviewing_count }}</sup></span>
                                {% endif %}
                                {% if message.review.approved_count %}
                                    <span title="# Approved" class="icon icon-approved"><sup>{{ message.review.approved_count }}</sup></span>
                                {% endif %}
                                {% if message.review.rejected_count %}
                                    <span title="# Rejected" class="icon icon-rejected"><sup>{{ message.review.rejected_count }}</sup></span>
                                {% endif %}
                            {% else %}
                                <small>
                                    {{ message.review.reviewer_state }}
                                </small>
                            {% endif %}
                        </span>
                        <small>
                            <a href="{{ message.review.creator.userprofile.get_absolute_url }}">({{ message.review.creator.userprofile|truncatechars:15 }})</a>
                        </small>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
