/* Reviews list (profile/dashboard) */
.dashboard h3 {
    margin:0;
    font-size:18px;
}
@media screen and (max-width:680px) {
    .dashboard h3 {
        font-size:14px;
    }
}
.dashboard section {
    padding:10px;
}
.dashboard-upper section {
    min-height:185px;
}
.dashboard-lower section {
    min-height: 70px;
}
@media screen and (max-width:375px) {
    .dashboard-upper section {
        min-height:0;
    }
}
.dashboard section li {
    color: #ccc;
    padding: 4px 0;
}
.dashboard section,
.dashboard section a {
    color:#fff;
    font-weight: 200;
}
.dashboard section strong a {
    font-weight: 800;
}
span.icon-Reviewing,
span.icon-Reviewing a {
    color: #fff;
    font-weight: 400;
}
li.de-emphasize span,
span.icon-Approved { color: #999; }
li.de-emphasize a,
span.icon-Approved a { font-weight: 200; color: #ccc; }
li.de-emphasize strong a { font-weight: 400; }

.dashboard ul {
    list-style:none;
    margin:0;
    padding:0;
}
section.emph_high {
    background:rgba(48, 48, 48, 1);
}
section.emph_med {
    background:rgba(48, 48, 48, .8);
}
section.emph_low {
    background:rgba(48, 48, 48, .7);
}
section.emph_lower {
    background:rgba(48, 48, 48, .6);
}
.dashboard section.done {
    background-image:url(/static/images/done.png);
    background-repeat:no-repeat;
    background-size:10%;
    background-position:50% 50%;
}

.state-highlight:before {
    font-size:1.5em;
}
.dashboard small {
    text-transform: uppercase;
    margin-left: 3px;
    font-size: 8px;
    color: #ccc;
    vertical-align: middle;
}
.dashboard small.reviewing {
    color: #ffffe7;
    font-weight: 800;
}

.dashboard .review_state {
    margin-left: 2px;
}
.dashboard .review_state .icon {
    position: relative;
    top: -2px;
}
.dashboard .icon sup {
    font-size: 9px;
    position: relative;
    left: -3px;
}

.icon-Reviewing, .icon-reviewing {
    background: url(/static/images/emoji/clock.png) 0 50% no-repeat;
    background-size: 16px;
}

.copy_link img {
    display: inline-block;
    width: 13px;
    height: 13px;
}

.legend {
    margin-top: 50px;
}
.legend li span {
    color: #666;
    font-weight: 300;
}
