/* Reviews list (profile/dashboard) */
.dashboard h3 {
    margin:0;
    font-size:18px;
}
@media screen and (max-width:680px) {
    .dashboard h3 {
        font-size:14px;
    }
}
.dashboard section {
    padding:10px;
}
.content .dashboard article section h3 {
    font-size: 16px;
    color: #eee;
}
.content section > div:not(:first-child) {
    margin-top: 25px;
}
.content .aggregated_dashboard > div:not(:first-child) {
    margin-top: 50px;
}
.dashboard section li {
    color: #eee;
    padding: 5px;
}
.dashboard section,
.dashboard section a {
    color: #fff;
    font-weight: 200;
}
.dashboard li p:first-child {
    margin: 0;
}
section .review_li a {
    color: #eee;
}
section .messages-list .message_li a,
section .review_li.open.approved a,
section .review_li.Reviewing a {
    color: #fff;
    font-weight: 400;
}
.messages-list .de-emphasize .icon-mail:before {
    display: none;
}
section .review_li.de-emphasize {
    opacity: 0.4
}
section .review_li.de-emphasize * {
    font-weight: 200 !important;
}
section .review_li .time_stamp {
    float: right;
    line-height: 30px;
    vertical-align: middle;
    color: #ddd;
}

/* Message center messages */
li.de-emphasize {
    opacity: 0.4
}
li.de-emphasize * {
    font-weight: 200 !important;
}

.dashboard ul {
    list-style:none;
    margin:0;
    padding:0;
}
section.emph_high {
    background:rgba(48, 48, 48, 1);
}
section.emph_med {
    background: rgba(48, 48, 48, .8);
}
section.emph_low {
    background: rgba(48, 48, 48, .7);
}
section.emph_lower {
    background: rgba(48, 48, 48, .6);
}
.dashboard section.done {
    background-image: url(/static/images/done.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50% 50%;
}

.state-highlight:before {
    font-size: 1.5em;
}
.dashboard small {
    text-transform: uppercase;
    margin-left: 3px;
    font-size: 10px;
    color: #eee;
    vertical-align: middle;
}
.dashboard small.reviewing {
    color: #ffffe7;
    font-weight: 800;
}

section li.review_li {
    background: #3f3f3f;
    padding: 0;
    margin: 15px 0;
    border: 1px solid #333;
}
section li.review_li:first-child {
    margin-top: 0;
}
section li.review_li:last-child {
    margin-bottom: 0;
}
section .review_li-top {
    background: #1F8470;
    border-bottom: 1px solid #aaa;
    padding: 3px 8px;
}
section .review_li.Approved {
    opacity: 0.8;
}
section .review_li.Approved .review_li-top {
    background: #3f3f3f;
    border-bottom: 0;
}
section .review_li-bottom {
    padding: 8px;
}

.dashboard .review_state {
    margin-left: 10px;
    white-space: nowrap;
    display: inline-block;
}
.dashboard .icon sup {
    font-size: 9px;
    position: relative;
    left: -3px;
    top: 1px;
}

.icon-Reviewing, .icon-reviewing {
    background: url(/static/images/emoji/clock.png) 0 50% no-repeat;
    background-size: 16px;
}

.legend {
    margin-top: 50px;
}
.legend li span {
    color: #666;
    font-weight: 300;
}

table {
    background: #fff;
    border: 1px solid #ddd;
}
th, td {
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.dashboard td small {
    color: #555;
    font-weight: 700;
    white-space: nowrap;
}

.tertiary {
    background: #26C59E;
    text-align: left;
    padding: 10px;
}
.tertiary ul {
    width: auto;
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.tertiary li {
    display: inline-block;
}
.tertiary a {
    color: #fff;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    padding: 5px;
    min-width: 25px;
    text-align: center;
    margin: 5px 8px 5px 0;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
.tertiary a:hover {
    background: rgba(255, 255, 255, 0.5) !important;
    text-decoration: none;
}
.tertiary li.new a {
    padding-right: 30px;
}
.tertiary li.new a:after {
    content: 'new!';
    background: #E03743;
    border-radius: 2px;
    color: white;
    font-weight: 700;
    padding: 0 2px;
    line-height: 14px;
    font-style: normal;
    font-size: 8px;
    position: absolute;
    top: 8px;
    right: 3px;
}
.your_dashboard .your_dashboard a {
    background: rgba(255, 255, 231, 0.4);
}
