.container .row {
    margin-left: 0;
    margin-right: 0;
}
iframe {
    box-sizing: border-box;
    margin-top: 10px;
}
main label {
    display: block;
    margin: 1em 0 0;
    font-size: 1em;
    color: #9e9e9e;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=tel],
input[type=number],
input[type=search] {
    border: none;
    border: 1px solid #dddddd;
    border-radius: 2px;
    outline: none;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
        -ms-transition: .3s;
            transition: .3s;
}
textarea {
    background: #ffffff;
    width: 100%;
    height: 100px;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 1em;
    box-sizing: border-box;
    -webkit-transition: .3s;
       -moz-transition: .3s;
         -o-transition: .3s;
        -ms-transition: .3s;
            transition: .3s;
    border: 1px solid #eeeeee;
    box-shadow: 4px 4px 0 #ddd;
}
textarea:focus {
    outline: none;
}
.container button {
    display: inline-block;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #ffffff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-appearance: button;
    cursor: pointer;
    -webkit-transition: .2s ease-out;
       -moz-transition: .2s ease-out;
         -o-transition: .2s ease-out;
        -ms-transition: .2s ease-out;
            transition: .2s ease-out;
    box-shadow: 4px 4px 0 #ddd;
}
button:hover {
    background-color: #2bbbad;
}

button[disabled] {
    opacity: .3;
    transition: all .5s ease;
    cursor: default;
    background-image: url(/static/images/loading.gif);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #2bbbad;
    padding-right: 60px;
}

/* Custom buttons */
button.button-clear {
    background: none;
    color: #333333;
    border: 1px solid #cccccc;
}
button.button-bright {
    background-color: #ffd94b;
    color: #555555;
}
button.button-confirm {
    background-color: #7591cc;
    color: #fff;
}
button.button-alert {
    background-color: #d27d7d;
    color: #fff;
}

select[multiple='multiple'] {
    padding: 10px;
    min-width: 30%;
    font-size: 1.4em;
    border: 1px solid #eeeeee;
    box-shadow: 4px 4px 0 #ddd;
    min-height: 300px;
    width: 100%;
    border-radius: 2px;
}
select[multiple='multiple'] option {
    color: #666666;
    background: #fafafa;
    margin: 5px 0;
}
select[multiple='multiple']:focus {
    outline: none;
}

.form-group {
    margin-top: 25px;
}
.form-group button {
    margin-right: 15px;
}
.form-group input[type="checkbox"],
.form-group input[type="radio"] {
    margin-right: 5px;
}


.errorlist {
    margin: 3px 0 15px;
    padding-left: 28px;
    border: 2px solid red;
    background: #fafafa url(/static/images/emoji/cry.png) 6px 6px no-repeat;
    background-size: 20px;
}
.errorlist li {
    list-style: none;
    padding: 5px;
    color: red;
    width: 100%;
    font-weight: 700;
    box-sizing: border-box;
}

.dd-container,
.dd-select {
    max-width: 195px;
}
.dd-container {
    display: inline-block;
    text-align: left;
}
.dd-container li {
    display: block;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
}
.dd-container li a {
    color: #666666;
    padding: 5px;
}
.dd-container .dd-select {
    border: 0;
    border-radius: 2px;
}
.dd-select label {
    color: #666666;
}
.dd-select .dd-selected {
    padding: 7px;
}
@media screen and (max-width:375px) {
    .dd-container,
    .dd-select {
        max-width: 140px;
    }
}
.dd-option {
    border-bottom: 0 !important;
}
