.container .row {
    margin-left:0;
    margin-right:0;
}
label {
    display:block;
    margin:.5em 0;
    font-size: 1em;
    color: #9e9e9e;
}
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=tel],
input[type=number],
input[type=search] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
textarea {
    background:#fff;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 1em;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    border:1px solid #eee;
    box-shadow:4px 4px 0 #ccc;
}
textarea:focus {
    outline:none;
}
input[type="submit"],
input[type="button"],
button {
    display: inline-block;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #FFF;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-appearance: button;
    cursor: pointer;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
button:hover, input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #2bbbad;
}

select[multiple="multiple"]{
    padding:10px;
    min-width:50%;
    font-size:1.4em;
    border:1px solid #eee;
    box-shadow:4px 4px 0 #ccc;
}
select[multiple="multiple"] option {
    color:#666;
    background:#fafafa;
    margin:5px 0;
}
select[multiple="multiple"]:focus {
    outline:none;
}

.form-group {
    margin-top:2em;
}

.errorlist {
    margin:10px 0;
    padding:0;
}
.errorlist li {
    list-style:none;
    background:red;
    padding:5px;
    color:#fff;
    width:100%;
    box-sizing: border-box;
}
