.navbar {
    color:#fff;
    background:#303030;
    box-shadow:0 2px 5px #ccc;
    padding:5px 0;
    overflow:hidden;
    margin-bottom:3em;
}
.navbar a {
    color:#fff;
    text-decoration:none;
}
.navbar .navbar-logo {
    background:url(/static/images/clock.png) 0 50% no-repeat;
    padding-left:90px;
    background-size:75px;
    letter-spacing:2px;
    line-height:75px;
    vertical-align:middle;
    text-transform:uppercase;
    font-size:.8em;
    display:inline-block;
}
.navbar .navbar-brand {
    float:left;
    width:20%;
    padding:5px 0;
}
.navbar .navbar-nav {
    float:right;
    width:70%;
    text-align:right;
    line-height:75px;
}
@media screen and (max-width:1000px) {
    .navbar .navbar-nav {
        margin-top:10px;
        line-height:1em;
        font-size:.8em;
    }
    .navbar .navbar-nav li {
        display:block;
    }
}
.navbar ul {
    list-style:none;
    margin:0;
    padding:0;
    display:inline-block;
}
.navbar ul li {
    margin-left:20px;
    padding:5px 10px;
    border-radius:10px;
    display:inline-block;
}
.navbar ul li.active {
    background:#618A55;
}

footer {
    margin-top:8em;
    font-size:.9em;
    text-align:center;
    color:#ccc;
}
