.messages section {
    overflow:hidden;
}
dl.messages-nav {
    border:1px solid #eee;
    display:table;
    width:auto;
    margin:0 auto 2em;
    border-radius:10px;
}
dl.messages-nav dt {
    display:none;
}
dl.messages-nav dd {
    margin:0;
    text-align:center;
    display:table-cell;
    box-sizing:border-box;
    border-right:1px solid #eee;
}
dl.messages-nav dd a {
    display:inline-block;
    min-width:150px;
    padding:10px 20px;
}
@media screen and (max-width:720px) {
    dl.messages-nav dd a {
        min-width:0;
    }
}
.messages-list,
.messages-list a {
    font-size: 14px;
}
.messages-list a {
    display: inline-block;
    min-height: 25px;
}
dl.messages-nav dd.last {
    border-right:0;
}
dl.messages-nav dd.current.first {
    border-radius:10px 0 0 10px;
}
dl.messages-nav dd.current.last {
    border-radius:0 10px 10px 0;
}
dl.messages-nav dd.current {
    background:#32CCAE;
}
dl.messages-nav dd.current a {
    color:#fff;
}
section.no_email {
    background:#E8B951 url(/static/images/sunshine.gif) 50% 0 no-repeat;
    min-height: 200px;
    background-size: 30%;
}
@media screen and (max-width:680px) {
    section.no_email {
        min-height:80px;
    }
}
.message section > p:first-child {
    margin-top: 0;
}

.messages-list {
    border:1px solid #ddd;
}
.messages-list .split {
    padding:1em;
    border-top:1px solid #ddd;
    background:#fff;
}
.messages-list .split:first-child {
    border-top:0;
}
.messages-list .split:nth-child(even) {
    background:#fefefe;
}
.messages-list .split:hover {
    background:#ffffe7;
}

@media screen and (max-width:680px) {
    .filters {
        display:none;
    }
    .messages-list .cel:last-child {
        display:none;
    }
}

a.True {
    font-weight:400;
}

.messages-archive_all {
    float:right;
    margin-top:2em;
}
a.dt_link {
    color: #555;
}
