/* Reviews list (profile/dashboard) */
h1.heading {
    margin-bottom: 10px;
}
.quickfind {
    margin: 20px 0;
}
.reviews-list h3 {
    margin:0;
    font-size:18px;
}
.reviews-list section {
    min-height:150px;
    padding:10px;
}
.reviews-list section li {
    color: #ccc;
    padding: 4px 0;
}
.reviews-list section,
.reviews-list section a {
    color:#fff;
    font-weight: 400;
}
li.de-emphasize span,
span.icon-Approved { color: #999; }
li.de-emphasize a,
span.icon-Approved a { font-weight: 200; color: #ccc; }

.reviews-list ul {
    list-style:none;
    margin:0;
    padding:0;
}
section.reviews {
    background:rgba(48, 48, 48, 1);
}
section.updates {
    background:rgba(48, 48, 48, .8);
}
section.demos {
    background:rgba(48, 48, 48, .7);
}
.reviews-list section.done {
    background-image:url(/static/images/done.png);
    background-repeat:no-repeat;
    background-size:10%;
    background-position:50% 50%;
}

.state-highlight:before {
    font-size:1.5em;
}
.reviews-list small {
    text-transform: uppercase;
    margin-left: 3px;
    font-size: 8px;
    color: #ccc;
}
.reviews-list small.reviewing {
    color: #ffffe7;
    font-weight: 800;
}

.quickfind-results {
    display: none;
}
.reviews-list .quickfind-results section li {
    color: #999;
}
.quickfind-results section {
    min-height: 0;
}
.quickfind-results strong {
    display: block;
    background: #ddd;
    color: #555;
    padding: 5px;
}
.quickfind-users {
    margin-bottom: 15px;
}
.reviews-list .quickfind a {
    color: #222;
}
