body, html {
    margin:0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size:100%;
}
h1, h2, h3 {
    font-size:2em;
}
ul {
    list-style:circle;
}
.container {
    margin:0 auto;
    max-width:1000px;
    width:100%;
}
@media screen and (max-width:1000px) {
    .cradle {
        margin:0 auto;
        padding-left:20px;
        padding-right:20px;
    }
}

h3 {
    font-size:1.5em;
    color:#555;
}

section {
    background:#fafafa;
    margin-top:.75em;
    margin-bottom:2em;
    padding:2em;
    box-shadow:4px 4px 0 #ddd;
}

.content h1 {
    color:#aaa;
    text-transform:uppercase;
    font-size:2em;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:10px 0;
    margin-top:2em;
    margin-bottom:2em;
}
.content h3 {
    margin-top:2em;
}

.content a {
    color:#4B727F;
    font-weight:700;
    text-decoration:none;
}
