body, html {
    margin:0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size:100%;
    font-weight:300;
}
h1, h2, h3 {
    font-size: 35px;
}
h1, h2, h3, h4, h5 {
    font-weight:300;
}
h1 a, h2 a, h3 a {
    font-size:13px;
    margin-left:10px;
    vertical-align:middle;
}
ul {
    list-style:disc;
}
.container {
    margin:0 auto;
    max-width:1000px;
    width:100%;
}
@media screen and (max-width:1000px) {
    .cradle {
        margin:0 auto;
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:480px) {
    .cradle {
        padding-left:5px;
        padding-right:5px;
    }
}

h3 {
    font-size:1.5em;
    color:#555;
}

section {
    background:#fafafa;
    margin-top:.75em;
    margin-bottom:2em;
    padding:2em;
    box-shadow:4px 4px 0 #ccc;
    border:1px solid #eaeaea;
}
@media screen and (max-width:680px) {
    section {
        padding:1em;
    }
}
section > h2:first-child,
section > h3:first-child,
section > h4:first-child,
section > h5:first-child {
    margin-top:0;
}
section blockquote {
    background:#fff;
    box-shadow:0 0 5px #ccc;
    margin:0;
    padding:15px;
}
section blockquote p:first-child {
    margin:0;
}
.blockquote-header {
    clear:both;
    text-align:left;
    background:#f0f0f0;
    padding:10px;
    margin:0 0 5px;
    color:#666;
    margin:0;
    font-size:1.1em;
}
.blockquote-body {
    padding: 10px;
    font-size: 14px;
}
section section {
    background:#fdfdfd;
    box-shadow:0 0 5px #ccc;
}

p, li {
    line-height:1.8em;
}

.content h1 {
    font-size: 40px;
    color: #222
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}
.content h1 small {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: middle;
}

.content a {
    color:#54BB9C;
    text-decoration:none;
    font-weight:700;
}
.content a:hover {
    text-decoration:underline;
}
.content a.icon:hover:before {
    text-decoration:none;
}
