/* Review overview */
.content h1 {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: none;
    font-size: 35px;
    line-height: 42px;
    color: #333333;
    padding: 25px;
    font-weight: 300;
    position: relative;
}
@media screen and (max-width:680px) {
    .content h1 {
        padding: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}

/* For sticky header */
.subnav {
    z-index: 314;
}

h1 .alert {
    font-size: 10px;
    color: #aaaaaa;
}
.review ul br,
.review ol br {
    display: none;
}
.review p {
    margin: 3px 0;
}
.review-top,
.review-meta {
    overflow: hidden;
}
.review-meta .cel {
    float: left;
}
.review-meta .cel:nth-child(1) {
    width: 35%;
}
.review-meta .cel:nth-child(2) {
    width: 40%;
    margin-right: 15px;
}
.review-meta .cel:nth-child(3) {
    width: 20%;
}
@media screen and (max-width:680px) {
    .review-meta > .cel:nth-child(1),
    .review-meta > .cel:nth-child(2),
    .review-meta > .cel:nth-child(3) {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}
.review-meta h4 {
    font-weight: 700;
    font-size: 17px;
}
.review-meta ol {
    margin: 0;
    padding-left: 20px;
}
.review-meta ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.review-meta h4 {
    margin: 0;
}
.review h3 {
    margin: 0 0 10px;
}
@media screen and (max-width:375px) {
    .review h3 {
        font-size: 18px;
    }
}
.review h3.collapser {
    cursor: pointer;
}

.reviewers li:hover .person_deleter {
    margin-left: 2px;
    display: inline-block !important;
    cursor: pointer;
}
.reviewers a {
    line-height: 20px;
    display: inline-block;
}

.main-content {
    clear: both;
}
li.updated a.subnav-item {
    background: #fff2ee;
}
li.closed.state-highlight,
li.open.state-highlight {
    display: none;
}
.comment_parent .demobox {
    padding: 3px;
}

.review-attachments {
    overflow: hidden;
}
.attachment-card .demobox {
    min-height: 250px;
}
.comment_parent .attachment-card {
    margin: 10px 0;
}
.attachments .attachment-card.image {
    width: 48%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}
@media screen and (max-width:480px) {
    .attachments .attachment-card.image {
        width: 100%;
        margin: 5px 0;
        display: block;
    }
}
.attachments .attachment-card.image .demobox {
    margin-top: 0;
}
.comment_parent .attachment-card.image {
    width: 100%;
    float: none;
}
@media screen and (max-width:680px) {
    .attachment-card.image {
        width: 100%;
        float: none;
    }
}
.attachment-card.movie,
.attachment-card.document,
.attachment-card.audio,
.attachment-card.other {
    clear: both;
}
.attachment-card video {
    max-width: 100%;
    width: 100%;
    max-height: 500px;
}
.attachment-card.audio {
    width: 100%;
    height: auto;
}
.attachment-card img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 240px;
    margin: 0 auto;
}

/* Fixing filename bleedthrough */
.attachment-file {
    overflow: hidden;
}
.attachment-card .demobox img {
    max-height: 100px;
}

.comments-reply {
    margin: 1em 0 0 3em;
}

/* Don't indent the only reply child */
.comment_parent > .comment_parent:first-child.comments-reply {
    margin-left: 0;
}
@media screen and (max-width:375px) {
    .comments-reply {
        margin-left: 1em;
    }
    .comments-reply_new {
        margin-left: 0;
    }
}
.comments-reply_new {
    overflow: hidden;
}

.comments .collapser {
    margin: 0 0 10px;
    cursor: pointer;
}
@media screen and (max-width:680px) {
    .comments .collapser {
        font-size: 10px;
    }
}

article > section {
    margin: 0;
}

article {
    margin: 40px 0;
}
.review img {
    max-width: 100%;
}

/* No need showing 'reply' label for new comments */
.new_comment label.icon-comment {
    display: none;
}
.new_comment .comments-reply {
    margin: 0;
}

.revision a {
    font-weight: 400;
}
.revision.current a {
    color: #555555;
    font-weight: 700;
}

.latest-revision-note .heading {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
.latest-revision-note section {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

main a[target='_blank'] {
    display: inline-block;
    padding-right: 15px;
    margin-right: 3px;
    background: url(/static/images/new_window.png) 100% 20% no-repeat;
}

input.find_person {
    font-size: 11px;
    margin-top: 0;
    width: 95%;
    background: #fff;
    padding: 3px 10px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid #ddd;
}

.your-status {
    box-shadow: 4px 4px 0 #dddddd;
    border: 1px solid #dddddd;
    background: #fafafa;
    padding: 10px 25px;
    margin: 15px 0 5px;
    float: left;
    border-radius: 2px;
}
@media screen and (max-width:680px) {
    .your-status {
        padding: 10px;
    }
}
.your-status img {
    position: relative;
    top: 4px;
}
@media screen and (max-width:680px) {
    .your-status {
        width: 100%;
        float: none;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
}
.your-status h3 {
    margin: 0;
}
.your-status span {
    color: #333333;
    font-weight: 700;
}

#confetti {
    position: fixed;
    top: 90px;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 1400px;
    display: block;
    z-index: 314159;
}

h1.heading {
    position: relative;
}
.copy_link {
    margin-left: -20px;
    cursor: pointer;
}

a[data-type='approved'] {
    background: #1b9074;
    color: #ffffff;
    border: 1px solid #fafafa;
}
a[data-type='rejected'] {
    background: #904445;
    color: #ffffff;
    border: 1px solid #fafafa;
}

.review_toggles {
    text-align: right;
    padding: 5px 0;
}
.review_toggles a {
    background: #f2f2f2;
    display: inline-block;
    padding: 8px 20px;
    color: #666666;
    cursor: pointer;
}
.review_toggles .enabled {
    z-index: 31415;
    background: #1f8470;
    color: #ffffff;
    white-space: nowrap;
    border-radius: 2px;
}

.review-overview.events img {
    max-width: 375px;
    height: auto;
}

.review-overview.events img:before,
.events a.lightbox_img:before {
    content: ' ';
    margin-top: 10px;
    display: block;
}
