/* Review overview */
.content h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: none;
    font-size: 35px;
    line-height: 42px;
    color:#333;
    padding: 25px;
    font-weight: 300;
    position: relative;
}
@media screen and (max-width:680px) {
    .content h1 {
        padding: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}
h1 .alert {
    font-size: 10px;
    color: #aaa;
}
.review ul br,
.review ol br {
    display: none;
}
.review p {
    margin: 3px 0;
}
.review-top {
    overflow: hidden;
}
.review-meta {
    padding: 20px 25px;
    background: #f2f2f2;
    font-size: 14px;
    overflow: hidden;
}
@media screen and (max-width:680px) {
    .review-meta {
        padding: 10px;
    }
}
.review-meta .cel {
    float: left;
}
.review-meta .cel:nth-child(1) {
    width: 35%;
}
.review-meta .cel:nth-child(2) {
    width: 40%;
    margin-right: 15px;
}
.review-meta .cel:nth-child(3) {
    width: 20%;
}
@media screen and (max-width:680px) {
    .review-meta > .cel:nth-child(1),
    .review-meta > .cel:nth-child(2),
    .review-meta > .cel:nth-child(3) {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
}
.review-meta h4 {
    font-weight: 700;
    font-size: 17px;
}
.review-meta ol {
    margin:0;
    padding-left:20px;
}
.review-meta ul {
    list-style:none;
    margin:0;
    padding:0;
}
.review-meta h4 {
    margin:0;
}
.review h3 {
    margin:0 0 10px;
}
.review h3.collapser {
    cursor: pointer;
}

.reviewers li:hover .person_deleter {
    margin-left: 2px;
    display: inline-block !important;
    cursor: pointer;
}
.reviewers a {
    line-height: 20px;
    display: inline-block;
}

.manage-review {
    float: right;
}
.manage-review ul {
    margin:0;
    padding:0;
    display:inline-block;
}
.manage-review ul li {
    list-style:none;
    display:inline-block;
    margin: 22px 0 28px 5px;
    padding: 5px 0 5px 5px;
}
.manage-review a {
    color:#fff;
}
.main-content {
    clear: both;
}
li.closed.state-highlight,
li.open.state-highlight {
    display: none;
}
.comments-reply {
    font-size:0.8em;
}

/* Special attachments display for comments */
.comments .attachment-card {
    margin:-13px 0;
}
.comments .attachment-card section {
    overflow: hidden;
    background: #555;
    color: #fff;
    min-height: 0;
}
.comments .attachment-card h3 {
    font-size: 16px;
    color: #fff;
}
.comments .attachment-card.image {
    overflow: hidden;
}
.comments .attachment-card.other,
.comments .attachment-card.document {
    overflow: hidden;
}
.comments .attachment-card.audio {
    overflow: hidden;
}
.comments .attachment-card section img {
    max-height: 100px;
}
.comments .attachment-card .attachment-image {
    text-align: left;
}

.attachment-card h3 {
    font-size:1.6em;
}
.comments-reply {
    margin:1em 0 0 3em;
}
.comments-reply_new {
    margin:2em 0 0 1em;
}
@media screen and (max-width:680px) {
    .comments-reply,
    .comments-reply_new {
        margin:.5em 0 .5em .5em;
    }
}
.comments-reply_new {
    overflow:hidden;
}
.comments-reply_new textarea {
    height:80px;
}
.comments-reply_new input[type="submit"] {
    float:right;
    margin-top:-10px;
}
@media screen and (max-width:680px) {
    .comments-reply_new input[type="submit"] {
        float:none;
    }
}
.comments .collapser {
    margin:1em 0 1em;
    cursor:pointer;
}
@media screen and (max-width:680px) {
    .comments .collapser {
        font-size:0.9em;
    }
}
section section {
    padding:1em;
}

article > section {
    margin: 0;
}

article {
    margin: 40px 0;
}
.review img {
    max-width: 100%;
}

/* No need showing 'reply' label for new comments */
.new_comment label.icon-comment {
    display: none;
}

.revision a {
    font-weight: 400;
}
.revision.current a {
    color: #555;
    font-weight: 700;
}

.latest-revision-note .heading {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
.latest-revision-note section {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

a[target="_blank"] {
    display: inline-block;
    padding-right: 15px;
    margin-right: 3px;
    background:url(/static/images/new_window.png) 100% 20% no-repeat;
}

input.find_person {
    font-size: 11px;
    margin-top: 0;
    width: 95%;
    background: #f7f7f7;
    padding: 3px 10px;
    height: 30px;
    margin-top: 5px;
}

.your-status {
    box-shadow:4px 4px 0 #ccc;
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 10px 25px;
    margin: 15px 0 5px;
    float: left;
}
@media screen and (max-width:680px) {
    .your-status {
        padding: 10px;
    }
}
.your-status img {
    position: relative;
    top: 4px;
}
@media screen and (max-width:680px) {
    .your-status {
        width: 100%;
        float: none;
        box-sizing: border-box;
        margin-bottom: 5px;
    }
}
.your-status h3 {
    margin: 0;
}
.your-status span {
    color: #333;
    font-weight: 900;
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-width: 1400px;
    display: block;
}

h1.heading {
    position: relative;
}
.copy_link {
    position: absolute;
    left: -3px;
    top: 33px;
    margin: 0 !important;
}
@media screen and (max-width:680px) {
    .copy_link {
        position: relative;
        top: 0;
        left: 0;
    }
    .copy_link img {
        width: 15px;
        height: 15px;
    }
}
