/* Review overview */
.content h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
    text-transform: none;
    font-size: 27px;
    line-height: 40px;
}
.review ul br,
.review ol br {
    display: none;
}
.review p {
    margin: 3px 0;
}
.review-meta {
    padding: 40px 25px 20px;
    background: #f2f2f2;
    font-size: 14px;
    margin-top: -40px;
}
.review-meta h4 {
    font-weight: 700;
    font-size: 17px;
}
.review-meta ol {
    margin:0;
    padding-left:20px;
}
.review-meta ul {
    list-style:none;
    margin:0;
    padding:0;
}
.review-meta h4 {
    margin:0;
}
.review h3 {
    margin:0 0 10px;
}

.reviewers li:hover small {
    position: absolute;
    margin-left: 10px;
    display: inline-block !important;
    cursor: pointer;
}

.manage-review {
    padding:10px;
    text-align:right;
    margin:20px 0 40px;
}
.manage-review ul {
    margin:0;
    padding:0;
    display:inline-block;
}
.manage-review ul li {
    list-style:none;
    display:inline-block;
    margin-left:20px;
    padding:1em 0 1em 1em;
}
.manage-review a {
    color:#fff;
}
.manage-review li.state-highlight a:before {
    font-size:1.5em;
    background:#fff;
    color:#222;
}
li.closed.state-highlight,
li.open.state-highlight {
    display: none;
}
.comments-reply {
    font-size:0.8em;
}
.comments .attachment-card {
    margin:-13px 0;
}
.attachment-card h3 {
    font-size:1.6em;
}
.comments-reply {
    margin:1em 0 0 1em;
}
.comments-reply_new {
    margin:2em 0 0 1em;
}
@media screen and (max-width:680px) {
    .comments-reply,
    .comments-reply_new {
        margin:.5em 0 .5em .5em;
    }
}
.comments-reply_new {
    overflow:hidden;
}
.comments-reply_new textarea {
    height:80px;
}
.blockquote-header {
    clear:both;
    text-align:left;
    background:#E69B8D;
    padding:5px 10px;
    margin:0 0 5px;
    color:#fff;
    margin:0;
    font-size:1.1em;
}
.blockquote-header a {
    color:#fff;
}
.blockquote-footer {
    margin-top:5px;
    padding:5px 10px;
    background:#eee;
    text-align:right;
}
.comments-reply_new input[type="submit"] {
    float:right;
    margin-top:-10px;
}
@media screen and (max-width:680px) {
    .comments-reply_new input[type="submit"] {
        float:none;
    }
}
.comments .collapser {
    margin:1em 0 1em;
    cursor:pointer;
}
@media screen and (max-width:680px) {
    .comments .collapser {
        font-size:0.9em;
    }
}
section section {
    padding:1em;
}

article > section {
    margin: 0;
}

article {
    background: rgba(67, 177, 138, .2);
    padding: 20px;
    margin: 40px 0;
}
.review img {
    max-width: 100%;
}

/* No need showing 'reply' label for new comments */
.new_comment label {
    display: none;
}

.revision a {
    font-weight: 400;
}
.revision.current a {
    color: #555;
    font-weight: 700;
}

.latest-revision-note .heading {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
.latest-revision-note section {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

a[target="_blank"] {
    display: inline-block;
    padding-right: 15px;
    margin-right: 3px;
    background:url(/static/images/new_window.png) 100% 20% no-repeat;
}

#add_reviewer {
    font-size: 11px;
    margin-top: 0;
    width: 50%;
    background: #f7f7f7;
    padding: 3px 10px;
    height: 30px;
    margin-top: 5px;
}
