a.button-link {
    background:#54BB9C;
    box-shadow:4px 4px 0 #ccc;
    padding:5px 8px;
    margin:0 8px;
    display:inline-block;
    color:#fff;
}
a.button-link:hover {
    text-decoration:none;
}
a.button-link.alert {
    background:#E03743;
}

.review-attachments {
    overflow:hidden;
}
.attachment h4 {
    margin-top:3em;
}
.attachment h4:first-child {
    margin-top:0;
}
.attachment-card {
    margin:10px;
}
.attachment-card video {
    width:100%;
    height:auto;
}
.attachment-card.photo {
    float:left;
    width:30%;
    box-sizing:border-box;
    box-shadow:0 0 5px #ccc;
}

.summary a {
    font-size:0.8em;
}
.toggled_text {
    display:none;
}

.attachments section {
    padding:1em;
}
.attachments label {
    margin:0;
}
.attachments input[type="text"] {
    height:1.5rem;
}

.tooltip {
    display:inline-block;
    width:15px;
    height:15px;
    background:url(/static/images/help.png) 0 0 no-repeat;
    background-size:100%;
    position:relative;
    top:0;
    left:5px;
    cursor:pointer;
}

@media screen and (max-width:680px) {
    [class~='split~680']>.cel {
        margin-bottom:1.5em;
    }
}

.mail-unread:before {
    color:yellow;
}
