body,
html {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 300;
}
h1,
h2,
h3 {
    font-size: 35px;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}
h1 a:not(.normal_text),
h2 a:not(.normal_text),
h3 a:not(.normal_text) {
    font-size: 13px;
    margin-left: 5px;
    vertical-align: middle;
}
ul {
    list-style: disc;
}
.container {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 1060px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.right {
    text-align: right;
}

h3 {
    font-size: 1.5em;
    color: #555;
}


article {
    background: rgba(67, 177, 138, .2);
    padding: 20px;
    margin: 40px 0;
    border-radius: 2px;
    box-shadow: 4px 4px 0 #ddd;
}
@media screen and (max-width: 680px) {
    article {
        padding: 10px;
        margin: 20px 0;
    }
}
article > *:first-child {
    margin-top: 0;
}

section {
    background: #fafafa;
    margin-top: .50em;
    margin-bottom: 1em;
    padding: 15px;
    box-shadow: 4px 4px 0 #ddd;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}
@media screen and (max-width: 680px) {
    section {
        padding: .5em;
    }
}
section > *:first-child,
section > *:first-child > *:first-child {
    margin-top: 0;
}
section blockquote,
section .demobox {
    background: #fff;
    border: 1px solid #eee;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
}
section .demobox p:first-child {
    margin: 0;
}
.demobox {
    box-shadow: 4px 4px 0 #ddd;
    box-sizing: border-box;
}
.demobox-header,
.demobox-footer {
    clear: both;
    background: #f0f0f0;
    color: #666;
    font-size: 12px;
}
.demobox-header strong a {
    font-weight: 700;
}

.demobox-header {
    text-align: left;
    padding: 10px;
    margin: 0 0 5px;
}
.demobox-footer {
    background: #f7f7f7;
    padding: 5px 10px;
    margin: 5px 0 0;
}
.demobox-body {
    padding: 10px;
    font-size: 14px;
    background: #fff;
}
.demobox .demobox {
    box-shadow: none;
}

section section {
    background: #f7f7f7;
    box-shadow: none;
    border-radius: 2px;
}

/* Syntax Highlighting */
pre {
    background: #f2efec;
    max-height: 400px;
    overflow: auto;
}

p,
li {
    line-height: 23px;
}

.content h1 {
    font-size: 40px;
    color: #222;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media screen and (max-width: 680px) {
    .content h1 {
        font-size: 30px;
    }
}
.content h1 small {
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
}
@media screen and (max-width: 680px) {
    .content h1 small a {
        margin-left: 2px;
        font-size: 10px;
    }
}
.review_info a,
.sweet-alert a,
.content a {
    color: #2a9c86;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content a.icon:hover:before {
    text-decoration: none;
}

#patterns {
    display: none;
}

/* Fontello aliases */
.icon-audio:before {
    content: '\e816';
} /* '' */
.icon-video:before {
    content: '\e808';
} /* '' */
.icon-other:before {
    content: '\e805';
} /* '' */
.icon-image:before {
    content: '\e806';
} /* '' */
.icon-document:before {
    content: '\e801';
} /* '' */

a.button-link {
    background: #2a9c86;
    box-shadow: 4px 4px 0 #ddd;
    padding: 5px 8px;
    display: inline-block;
    color: #fff;
}
a.button-link:hover {
    text-decoration: none;
}
.subnav a.subnav-item.alert {
    background: #f14d51;
    color: #fff;
}
.subnav a.subnav-item.confirm {
    background-color: #fff68e;
    color: #555;
}

.summary a {
    font-size: .8em;
}

.attachments {
    overflow: hidden;
}
.attachments section {
    padding: 1em;
}
.attachments label {
    font-size: 16px;
    margin: 0 0 10px;
}
.attachments input[type='text'] {
    padding: 5px;
    font-size: 12px;
    position: relative;
    top: -4px;
}
.attachments .attachment-card.image {
    width: 48%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}
@media screen and (max-width:480px) {
    .attachments .attachment-card.image {
        width: 100%;
        margin: 5px 0;
        display: block;
    }
}
.attachments .attachment-card.image .demobox {
    margin-top: 0;
}

.help {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(/static/images/emoji/question.png) 0 0 no-repeat;
    background-size: 100%;
    position: relative;
    top: -2px;
    left: 1px;
    cursor: pointer;
}
.help.alert {
    background: url(/static/images/help_alt.png) 0 0 no-repeat;
    background-size: 100%;
}

@media screen and (max-width:680px) {
    main [class~='split~680'] > .cel {
        margin-bottom: 1.5em;
    }
}

.state-highlight:before {
    transition: 1s;
    background: #e03743;
    padding: 2px;
}

.content h1:not(.heading) {
    background: none;
    color: #333;
    padding: 0;
    box-shadow: none;
}
.content section h1:not(.heading),
.content section h2:not(.heading),
.content section h3:not(.heading),
.content section h4:not(.heading),
.content section h5:not(.heading) {
    text-transform: none;
    margin: 10px 0;
}
.content section h2:not(.heading) {
    font-size: 1.8em;
}
.content section h3:not(.heading) {
    font-size: 1.7em;
}
.content section h4:not(.heading) {
    font-size: 1.6em;
}
.content section h5:not(.heading) {
    font-size: 1.4em;
}
.content section h2 {
    font-size: 2em;
}

.sweet-alert ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h3 small {
    color: #aaa;
    margin-left: 10px;
}

.success {
    color: green;
}
.failure {
    color: red;
}
.alert {
    color: #ffffe7;
}

.left {
    text-align: left;
}

.tip {
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 30px;
}

.review_info {
    margin: 0;
    padding: 10px;
}
.review_info section {
    color: #555;
    margin: 0;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
}
.review_info li span {
    font-size: 12px;
    color: #333;
    line-height: 18px;
    display: inline-block;
}
.review_info small {
    color: #aaa;
}
.review_info .title {
    margin-bottom: 10px;
    display: block;
}
.review_info p {
    margin: 0;
    font-size: 13px;
}
.review_info ul {
    margin: 5px 0 0;
    list-style: none;
    padding-left: 0;
}

/* Custom icons */
.icon-reviewing:before,
.icon-approved:before,
.icon-rejected:before,
.icon-issue:before {
    display: none;
}

.icon-approved {
    background: url(/static/images/emoji/smiley.png) 0 50% no-repeat;
}

.icon-reviewing {
    background: url(/static/images/emoji/clock_dark.png) 0 50% no-repeat !important;
    background-size: 15px !important;
}

.icon-rejected {
    background: url(/static/images/emoji/frowning2.png) 0 50% no-repeat;
}

.icon-issue {
    background: url(/static/images/emoji/broken_heart.png) 0 50% no-repeat;
}

.icon-reviewing,
.icon-approved,
.icon-rejected,
.icon-issue {
    padding-left: 20px;
    background-size: 15px;
}

.quickfind input[type='text'] {
    background: #fafafa;
    padding: 8px 10px;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    border-radius: 2px;
}
@media screen and (max-width:680px) {
    .quickfind input[type='text'] {
        font-size: 11px;
    }
}
.quickfind-results {
    display: none;
}
.quickfind-results section ul,
.quickfind-results section li {
    margin: 0;
    padding: 3px 0;
}
.quickfind-results section a {
    padding: 0;
    line-height: 21px;
    display: inline;
    color: #444;
}
.quickfind-results section li {
    color: #999;
}
.quickfind-results section {
    min-height: 0;
    padding: 10px;
    margin-bottom: 5px;
}
.quickfind-results strong {
    display: block;
    background: #ddd;
    color: #555;
    padding: 5px;
    cursor: pointer;
}
.dashboard .quickfind a {
    color: #222;
}

.game {
    color: #aaa;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
    margin-right: 3px;
}

#feedbacker {
    position: fixed;
    bottom: 0;
    padding-right: 5px;
    left: 10px;
    background: #2a9c86;
}
#feedbacker a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
}
@media screen and (max-width:480px) {
    #feedbacker a {
        padding: 0 8px;
    }
}
#feedbacker .close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ddd;
    font-weight: 700;
    font-size: 9px;
}

.events strong a {
    font-weight: 700;
}
.events .demobox-body a {
    text-decoration: underline;
}
.events blockquote {
    padding: 8px;
    border: 1px dashed #e0e0e0;
}
.events .demobox {
    margin: 0 3px 15px 0;
}

/* Attachment cards appear in a demo
 * as well as in a demo edit page (drafts) */
@media screen and (max-width:680px) {
    .attachment-card.image {
        width: 100%;
        float: none;
    }
}
.attachment-card.movie,
.attachment-card.document,
.attachment-card.audio,
.attachment-card.other {
    clear: both;
}
.attachment-card video {
    max-width: 100%;
    width: 100%;
    max-height: 500px;
}
.attachment-card.audio {
    width: 100%;
    height: auto;
}
.attachment-card img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 240px;
    margin: 0 auto;
}

.events img,
.events audio {
    max-width: 100%;
    height: auto;
}
.events audio {
    height: auto;
}
.events .lightbox_img:before {
    content: ' ';
    display: block;
    margin-top: 10px;
}

@media screen and (max-width:720px) {
    .comments iframe {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:720px) {
    .min720 {
        display: none !important;
    }
}

/* Issues */
.issue-marker {
    background: #fff;
}
.issue-new,
.issue-resolved,
.issue-unresolved {
    padding: 3px 10px;
    margin: 5px 0;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
}
.issue-new {
    background: #fff;
    border: 1px solid #ccc;
}
.issue-resolved {
    background: #2a9c86;
    color: #fff;
}
.issue-unresolved {
    background: #ff9381;
    color: #fff;
}
.comment_wrapper .issue-unresolved:before {
    content: 'x';
    font-weight: 700;
    margin-right: 5px;
}
.review-meta .issue-unresolved,
.review-meta .issue-resolved {
    display: block;
    width: 100%;
    font-size: 12px;
}

.editable {
    border: 1px dashed #ddd;
    padding-left: 10px;
    padding-right: 10px;
}
.editable[contenteditable="true"] {
    border: 0;
}
.editable[contenteditable="true"]:after {
    content: '<enter> saves';
    font-size: 10px;
    color: #aaa;
}
