/* Wysiwyg */
.wysiwyg-editor {
    font-size: 16px;
    padding: 15px 15px 50px;
}
.wysiwyg-editor,
.wysiwyg-container textarea {
    min-height: 100px;
}
.comments pre {
    font-family: Courier;
    padding: 10px;
    background: #fafafa;
    border: 2px dashed #eee;
    font-size: 13px;
}
.wysiwyg-popup {
    min-width: 350px;
}
.wysiwyg-popup .wysiwyg-toolbar-icon {
    display: none;
}
.wysiwyg-container {
    position: relative;
}

.footer_panel {
    padding: 5px;
    background: #F5F5F5;
    overflow: hidden;
    min-height: 35px;
}
.footer_panel .toggle_html {
    font-size: 11px;
    margin: 10px 0 0 10px;
    display: inline-block;
}
@media screen and (max-width:375px) {
    .footer_panel .toggle_html,
    .wysiwyg-toolbar {
        display: none;
    }
}

.emoji_panel {
    float: right;
}
.emoji_panel .emoji {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
@media screen and (max-width:375px) {
    .emoji_panel .emoji {
        width: 20px;
        height: 20px;
    }
}
p img.emoji,
blockquote .emoji,
.note-editor img.emoji {
    max-width: 30px !important;
    max-height: 30px !important;
}
.note-group-select-from-files {
    display: none !important;
}
.modal.link-dialog .form-group {
    margin-top: 0;
}

.giphy_branding {
    text-align: right;
    background: #fafafa;
    padding: 5px 5px 0;
}
input.giphy_input[type="text"] {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% - 155px);
}
button.giphy_button {
    box-shadow: none;
    box-sizing: border-box;
    width: 140px;
    margin: 0 5px;
    background: #f2f2f2;
    font-weight: 700;
    color: #888;
}
.giphy_branding img.giphy_logo {
    max-width: 130px;
    height: auto;
}
.giphy_results ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.giphy_results li,
.giphy_results img {
    display: inline-block;
}
.giphy_results li {
    background: #f6f6f6;
    margin: 3px;
    padding: 15px;
}
.review .giphy_results img {
    display: inline-block;
    min-width: 165px;
    max-width: 180px;
    cursor: pointer;
    vertical-align: middle;
}
@media screen and (max-width:375px) {
    .review .giphy_results img {
        min-width: 0;
        width: 100px;
    }
    .giphy_results li:nth-child(4) ~ li {
        display: none;
    }
}


/* Mentions */
.mentioner {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background: #f6f6f6;
    padding: 8px 12px;
}
.mentioner-user {
    padding: 3px 6px;
    font-size: 12px;
}
.mentioner-active,
.mentioner-user:hover {
    background: #18735D;
    color: #fff !important;
    text-decoration: none !important;
}
.mentioned {
    color: #32CCAE;
    font-weight: 700;
}
.mentioned:before {
    content: '@';
}
