{% extends "demotime/messages/msg_base.html" %}
{% block content %}
<p>
{{ comment.commenter.userprofile.name }} just added a new comment to <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">{{ title }}</a>
</p>
{% if "data:image" in comment.comment %}
    <p>
        This comment contains an image that we could not decode for email.<br>
        Please visit <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">the demo</a> to see the comment on the site.
    </p>
{% else %}
    <blockquote style="background: #fff; border: 1px solid #eee; margin: 0; padding: 15px;">
        {{ comment.comment|safe|truncatechars:1000 }}
    </blockquote>
    {% if comment.comment.length > 1000 %}
        <p>
            <em>this message was truncated</em>.<br>
            read the rest <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">here</a>
        </p>
    {% endif %}
{% endif %}
{% if comment.attachments %}
    <p>
        <small>This comment includes an attachment. Visit <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">the demo</a> to have a look.</small>
    </p>
{% endif %}
{% endblock %}
