{% extends "demotime/messages/msg_base.html" %}
{% block content %}
<p>
Hello {{ receipient.userprofile.name }},
</p>

<p>
{{ comment.commenter.userprofile.name }} just added a new comment to <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">{{ title }}</a>:
</p>
{% if "data:image" in comment.comment %}
    <p>
        This comment contains an image that we could not decode for email.<br>
        Please visit <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">the demo</a> to see the comment on the site.
    </p>
{% else %}
    {{ comment.comment|safe|truncatechars:1000 }}
    {% if comment.comment.length > 1000 %}
        <p>
            <em>this message was truncated</em>.<br>
            read the rest <a href="http://{{ dt_url }}{{ url }}#{{ comment.pk }}">here</a>
        </p>
    {% endif %}
{% endif %}

<p>
Thanks,<br>
{{ sender }}
</p>
{% endblock %}
