{% extends "demotime/messages/msg_base.html" %}
{% block content %}
<p>
Hello {{ user.userprofile.name }},
</p>

<p>
{% if reminder.reminder_type == "creator" %}
Reminder! Your demo, <a href="http://{{ dt_url }}{{ url }}">{{ reminder.review.title }}</a>, is getting stale. It might be a good time to send a comment to your reviewers to reminder them to finish reviewing your demo.
{% else %}
Reminder! You're a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ reminder.review.title }}</a> and your review decision is now overdue. Please take a look at this demo review at your earliest convenience.
{% endif %}
</p>

<p>
Thanks,<br>
{{ sender }}
</p>
{% endblock %}
