Hello {{ receipient }},

{% if deleted %}
    You have been removed as a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ title }}</a>.
{% else %}
    {% if creator %}
        {{ reviewer.reviewer_display_name }} has been added as a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ title }}</a>.
    {% endif %}

    {% if not creator %}
        You have been added as a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ title }}</a>.
    {% endif %}
{% endif %}


Thanks,
{{ sender }}

