{% extends "demotime/messages/msg_base.html" %}
{% block content %}
<p>
Hello {{ receipient.userprofile.name }},
</p>

<p>
{% if deleted %}
    You have been removed as a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ title }}</a>.
{% else %}
    {% if creator %}
        {{ reviewer.reviewer.userprofile.name }} has been added as a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ title }}</a>.
    {% endif %}
    {% if not creator %} You have been added as a reviewer on <a href="http://{{ dt_url }}{{ url }}">{{ title }}</a>. {% endif %}
{% endif %}
</p>

<p>
Thanks,<br>
{{ sender }}
</p>
{% endblock %}
