
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-attach:before { content: '\e805'; } /* '' */
.icon-photo:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-videocam:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-thumbs-up:before { content: '\e80c'; } /* '' */
.icon-pencil:before { content: '\e80d'; } /* '' */
.icon-comment:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-params:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-inbox:before { content: '\e815'; } /* '' */
.icon-music:before { content: '\e816'; } /* '' */
.icon-beaker:before { content: '\e817'; } /* '' */
.icon-money:before { content: '\e818'; } /* '' */
.icon-paper-plane:before { content: '\e819'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-ok:before { content: '\e81b'; } /* '' */
.icon-plus:before { content: '\e81c'; } /* '' */
.icon-thumbs-up-1:before { content: '\e81d'; } /* '' */
.icon-thumbs-down:before { content: '\e81e'; } /* '' */
.icon-down-dir:before { content: '\e81f'; } /* '' */
.icon-up-dir:before { content: '\e820'; } /* '' */
.icon-left-dir:before { content: '\e821'; } /* '' */
.icon-right-dir:before { content: '\e822'; } /* '' */
.icon-cancel-circled:before { content: '\e823'; } /* '' */
.icon-plus-circled:before { content: '\e824'; } /* '' */
.icon-minus-squared-alt:before { content: '\e825'; } /* '' */
.icon-plus-squared-alt:before { content: '\e826'; } /* '' */
.icon-attention:before { content: '\e827'; } /* '' */
.icon-attention-circled:before { content: '\e828'; } /* '' */
.icon-link-ext:before { content: '\e829'; } /* '' */
.icon-help-circled-alt:before { content: '\e82a'; } /* '' */
