.form-helpbox {
    position: absolute;
    margin: 0 0 0 25px;
    padding:  0 0 0 15px;
    background-image: url('/static/images/arrow_left.png');
    background-position: left 3px;
    background-repeat: no-repeat;
    display: none;
}

.form-helpbox .content {
    padding: 5px 10px 10px 5px;
    background-color: #0099cc;
    width: 125px;
    color: #EEE;
    border: solid 1px #222;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #222;
    opacity: 0.95;
}

.form-helpbox .tools {
    text-align: right;
    display: none;
}

.form-helpbox .pushpin {
    width: 11px;
    height: 11px;
    background-image: url('/static/images/pushpin.png');
    background-repeat: no-repeat;

}

.form-helpbox .pushpin:hover {
    opacity: 0.8;
    cursor: pointer;
}

.form-helpbox .pushpin.pinned {
    background-position: -11px 0;
}
