{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--meta name="description" content=""-->
        <!--meta name="author" content=""-->
        <link rel="icon" href="/static/favicon.ico">

        <title>Demotime {% block title %}{% endblock %}</title>

        {# Had to move this up here to make the markdown editor work #}
        <script src="/static/scripts/library/jquery-2.1.3.min.js"></script>

        {# Web fonts #}
        <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300,900' rel='stylesheet' type='text/css'>

        {# Fontello #}
        <link rel="stylesheet" href="/static/fonts/css/fontello.css">
        <link rel="stylesheet" href="/static/fonts/css/animation.css">

        {# Contextual help #}
        <link rel="stylesheet" href="/static/styles/library/tooltipster.css">
        <link rel="stylesheet" href="/static/styles/library/swal.css">

        {# Lightbox #}
        <link rel="stylesheet" href="/static/scripts/library/fancybox/jquery.fancybox.css">

        {% block styles %}
            <link href="/static/styles/library/cel-0.2.0.min.css" rel="stylesheet">
            <link href="/static/styles/headerfooter.css" rel="stylesheet">
            <link href="/static/styles/forms.css" rel="stylesheet">
            <link href="/static/styles/main.css" rel="stylesheet">
            <link href="/static/styles/ui.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="cradle">
                    <div class="split by:1/3 with-gap:0">
                        <div class="cel">
                            <a class="navbar-logo" href="{% url 'index' %}"><strong>Demo</strong>time</a>
                        </div>
                        <div class="cel">
                            <div class="navbar-nav">
                                <ul>
                                    {% url 'index' as index_url %}
                                    {% url 'create-review' as create_review_url %}
                                    {% url 'login' as login_url %}
                                    {% url 'inbox' as inbox_url %}
                                    {% url 'profile' request.user.userprofile.pk as profile_url %}
                                    {% if request.user.is_authenticated %}
                                        <li class="icon icon-user" {% if request.path == profile_url %}active{% else %}{% endif %}>
                                        <a href="{{ request.user.userprofile.get_absolute_url }}" style="text-decoration:underline">
                                            {% if request.user.userprofile.display_name %}
                                                {{ request.user.userprofile.display_name }}
                                            {% else %}
                                                {{ request.user.username }}
                                            {% endif %}
                                        </a>
                                        </li>
                                        <li class="icon icon-pencil {% if request.path == create_review_url %}active{% else %}{% endif %}"><a href="{{ create_review_url }}">Create a demo</a></li>
                                        <li class="icon icon-mail {% if has_unread_messages %}state-highlight{% endif %} {% if request.path == inbox_url %}active{% else %}{% endif %}"><a href="{{ inbox_url }}">Inbox{% if has_unread_messages %} ({{ unread_message_count }}){% endif %}</a></li>
                                        <li><a class="icon icon-paper-plane" href="{% url 'logout' %}">Log out</a></li>
                                    {% else %}
                                        {% if request.path != login_url %}
                                            <li><a href="{% url 'login' %}">Login</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block sub_nav %}{% endblock %}
        </nav>

        <div class="container content">
            <div class="cradle">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer>
            <div class="footer container">
                &copy; {% now "Y" %}
            </div>
        </footer>

        {# Main librarys #}
        <script src="/static/scripts/library/jquery.cookie.js"></script>
        <script>
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        <script src="/static/scripts/library/jquery.tooltipster.min.js"></script>
        <script src="/static/scripts/library/cel-0.2.0.min.js"></script>

        {# Lightbox #}
        <script src="/static/scripts/library/fancybox/jquery.fancybox.pack.js"></script>

        {# alerts #}
        <script src="/static/scripts/library/swal.js"></script>

        {# keyboard #}
        <script src="/static/scripts/library/mousetrap.js"></script>
        <script src="/static/scripts/shortcuts.js"></script>

        {# Backbone / Underscore #}
        <script src="/static/scripts/library/underscore.js"></script>
        <script src="/static/scripts/library/backbone.js"></script>

        <script> var DemoTime = [] </script>
        <script src="/static/scripts/ScrollToLink.js"></script>
        <script src="/static/scripts/Reviewers.js"></script>

        {% block footer_scripts %}
            <script src="/static/scripts/footer_scripts.js"></script>
        {% endblock %}

        {% if request.GET.hide_header %}
        <script>
            $('body').addClass('bookmarklet');
        </script>
        {% endif %}
    </body>
    <div id="patterns" style="display: none">
        {% block patterns %}{% endblock %}
    </div>
</html>

