{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="DemoTime is a web-enabled framework that makes feedback about just about anything fast, easy and fun.">

        <!--meta name="description" content=""-->
        <!--meta name="author" content=""-->
        <link rel="icon" href="/static/favicon.ico">

        <title>DemoTime {% block title %}{% endblock %}</title>

        <script src="/static/scripts/library/jquery-2.1.3.min.js"></script>

        {# Summernote #}
        <link href="/static/styles/library/bootstrap_summernote.css" type="text/css" media="all" rel="stylesheet" />
        <link href="/static/styles/library/summernotelib.css" type="text/css" media="all" rel="stylesheet" />

        {# Web fonts #}
        <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,700,300,900' rel='stylesheet' type='text/css'>

        {# Fontello #}
        <link rel="stylesheet" href="/static/fonts/css/fontello.css">
        <link rel="stylesheet" href="/static/fonts/css/animation.css">

        {# Contextual help #}
        <link rel="stylesheet" href="/static/styles/library/tooltipster.css">
        <link rel="stylesheet" href="/static/styles/library/animate.css">
        <link rel="stylesheet" href="/static/styles/library/swal.css">


        {# Lightbox #}
        <link rel="stylesheet" href="/static/scripts/library/fancybox/jquery.fancybox.css">

        {% block styles %}
            <link href="/static/styles/library/cel-0.2.0.min.css" rel="stylesheet">
            <link href="/static/styles/headerfooter.css" rel="stylesheet">
            <link href="/static/styles/forms.css" rel="stylesheet">
            <link href="/static/styles/main.css" rel="stylesheet">
            <link href="/static/styles/ui.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="{{ request.GET.display_state }}">
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="cradle">
                    <div class="split by:1/3 with-gap:0">
                        <div class="cel">
                            <svg id="svg" class="clock" onclick="window.location.href = '{% url 'index' %}'"></svg>
                            <a class="navbar-logo" href="{% url 'index' %}"><strong>Demo</strong>time</a>
                        </div>
                        <div class="cel">
                            <div class="navbar-nav">
                                <ul>
                                    {% if request.user.is_authenticated %}
                                        {% if not request.user.userprofile.avatar.name %}
                                            <li>
                                                <a href="{% url 'edit-profile' request.user.pk %}" class="icon icon-attention">You need an avatar</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <div class="manage_user">
                                                <a href="#" class="manage_user-toggler icon icon-user">
                                                    {% if request.user.userprofile.display_name %}
                                                        {{ request.user.userprofile.display_name }}
                                                    {% else %}
                                                        [set up your profile]
                                                    {% endif %}
                                                </a>
                                                <ul>
                                                    <li><a class="manage_user-item" href="{{ request.user.userprofile.get_absolute_url }}">Profile</a></li>
                                                    <li class="header-blog"><a class="manage_user-item" href="https://demoti.me/blog/" target="_blank">What's new?</a></li>
                                                    <li><a class="manage_user-item" href="{% url 'help' %}">Documentation</a></li>
                                                    <li><a class="manage_user-item" href="{% url 'logout' %}">Log out</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><span class="msg_notifier {% if has_unread_messages %}un{% endif %}read_notification"><a href="{% url 'inbox' %}">{{ unread_message_count }}</a></span></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">Log in</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block sub_nav %}
                <nav class="subnav">
                    <div class="container">
                        <ul class="subnav-item">
                            <li><a class="subnav-item" href="{% url 'about' %}">About</a>
                            <li><a class="subnav-item" href="{% url 'help' %}">Documentation</a>
                            <li><a class="subnav-item" href="https://demoti.me/blog/" class="header-blog" target="_blank">Blog</a>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
            {% block breadcrumbs %}{% endblock %}
        </nav>

        <main>
            <div class="container content">
                <div class="cradle">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <footer>
            <div class="footer container">
                &copy; {% now "Y" %}
                - <a href="{% url 'terms-of-use' %}">terms of use</a>
                - <a href="{% url 'privacy-policy' %}">privacy policy</a>
            </div>
        </footer>

        {# Main librarys #}
        <script src="/static/scripts/library/jquery.cookie.js"></script>

        <script>
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>

        {# tooltips #}
        <script src="/static/scripts/library/jquery.tooltipster.min.js"></script>
        <script> $('.help').tooltipster() </script>

        {# split/cel framework #}
        <script src="/static/scripts/library/cel-0.2.0.min.js"></script>

        {# Summernote #}
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/scripts/library/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/static/scripts/library/summernote.js"></script>

        {# Lightbox #}
        <script src="/static/scripts/library/fancybox/jquery.fancybox.pack.js"></script>
        <script>
            $('.lightbox_url').fancybox({
                'type': 'iframe',
                afterShow : function () {
                    // set the onclick attribute on each link of the iframed page
                    // then passes the corresponding href to the parent page function
                    $(".fancybox-iframe").contents().find("a").attr("onclick", "parent.$.fancybox.close(); parent.location.href=this.href;");
                }
            });
            $('.lightbox_img').fancybox({
                'type': 'image'
            });
        </script>

        {# alerts #}
        <script src="/static/scripts/library/swal.js"></script>

        {# notifications #}
        <script src="/static/scripts/library/jquery.noty.packaged.min.js"></script>

        {# clipboard #}
        <script src="/static/scripts/library/clipboard.min.js"></script>
        <script>
            new Clipboard('.copy_link');
        </script>


        {# linkify plain urls #}
        <script src="/static/scripts/library/linkify.min.js"></script>
        <script src="/static/scripts/library/linkify-jquery.min.js"></script>

        {# fancy clock #}
        <script src="/static/scripts/library/snap.svg-min.js"></script>
        <script src="/static/scripts/Clock.js"></script>

        {# keyboard #}
        <script src="/static/scripts/library/mousetrap.js"></script>
        <script src="/static/scripts/shortcuts.js"></script>

        {# Backbone / Underscore #}
        <script src="/static/scripts/library/underscore.js"></script>
        <script src="/static/scripts/library/backbone.js"></script>

        {# Google Analytics #}
        {% include "includes/analytics.html" %}

        {# Namespacing #}
        <script> var DemoTime = [] </script>

        {# Smooth scroll to links #}
        <script src="/static/scripts/ScrollToLink.js"></script>
        <script>
            // force scroll to top (to avoid embedded movie pop)
            window.onload = function(){ window.scrollTo(0,0); }
            // initialize scroll lib
            var ScrollToLink = new DemoTime.ScrollToLink()
        </script>

        {% if request.user %}
        {# DT-XX Info boxes #}
        <script src="/static/scripts/Info.js"></script>
        <script>
            var info = new DemoTime.Info({
                review_url: '{% url "reviews-search-json" %}'
            });
        </script>

        {# set up background tasks (new messages, comments etc) #}
        <script src="/static/scripts/BackgroundTasks.js"></script>
        <script>
            var BackgroundTasks = new DemoTime.BackgroundTasks({
                messages_url: '{% url "messages-json" %}'
            });
        </script>

        {# custom dropdowns #}
        <script src="/static/scripts/library/selects.js"></script>
        <script> $('select.slick').ddslick() </script>

        {# WYSIWYG editors #}
        <script src="/static/scripts/Wysiwyg.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var Wysiwyg = new DemoTime.Wysiwyg({
                    {# To make emoji in email work, use the server name outside of dev envs #}
                    {% if 'localhost' not in site_settings.SERVER_URL %}
                        dt_url: location.protocol + '//{{ site_settings.SERVER_URL }}'
                    {% else %}
                        dt_url: ''
                    {% endif %}
                });
            });
        </script>

        {# Account management dropdown in the header #}
        <script src="/static/scripts/Account.js"></script>
        <script>
            // top right account toggler
            var account = new DemoTime.Account();
        </script>

        {# Global search #}
        <script src="/static/scripts/Search.js"></script>
        <script>
            var search = new DemoTime.Search({
                user_url: '{% url 'user-api' %}',
                review_url: '{% url 'reviews-search-json' %}',
                project_url: '{% url 'project-json' %}'
            });

            if(typeof(Storage) !== "undefined") {
                var blog_entry = 'blog20160703'

                if (!localStorage.getItem(blog_entry)) {
                    localStorage.setItem(blog_entry, true);
                    $('.header-blog, .manage_user').addClass('highlight');
                    setTimeout(function() {
                        $('.header-blog, .manage_user').removeClass('highlight');
                    }, 20000);
                }
            }
        </script>
        {% endif %}

        {% block scripts %}{% endblock %}
    </body>
    <div id="patterns">
        {% if request.user %}
            {% include "includes/patterns/emoji.html" %}
            {% include "includes/patterns/search.html" %}
            {% include "includes/patterns/review_info.html" %}
        {% endif %}
        {% block patterns %}{% endblock %}
    </div>
</html>
