{% extends 'base.html' %}

{% block sub_nav %}
<nav class="subnav">
    <div class="container split~940 by:2 align:t">
        <div class="cel">
            {% include "includes/search.html" %}
        </div>
        <div class="cel global_actions">
            {% block sub_nav_actions %}
                {% if available_projects|length == 1 %}
                    {% for project in available_projects %}
                        <a class="icon icon-plus" href="{% url 'create-review' project.slug %}">Create a demo</a></li>
                    {% endfor %}
                {% else %}
                    Create a demo for:
                    <select class="new_demo_dropdown">
                    {% for project in available_projects %}
                        <option value="{% url 'create-review' project.slug %}">{{ project.name }}</option>
                    {% endfor %}
                    </select>
                    <a class="new_demo_link icon icon-plus" href="#">Go</a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</nav>
{% endblock %}
