{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
<style>
    nav.subnav {
        background:#54BB9B;
        text-align:center;
        margin-top:10px;
        padding:10px 0;
        text-align:right;
    }
    .subnav a {
        background:#fff;
        color:#555;
        font-weight:700;
        display:inline-block;
        padding:5px 13px;
        border-radius:5px;
        margin:0;
    }
    .subnav ul,
    .subnav ul li {
        margin:0 0 0 20px;
        padding:0;
    }
</style>
{% endblock %}

{% block sub_nav %}
<nav class="subnav">
    <div class="container">
        <ul>
            <li><a href="{% url 'about' %}">What's Demotime?</a>
            <li><a href="{% url 'addons' %}">Add-ons</a>
        </ul>
    </div>
</nav>
{% endblock %}
