{% extends 'base.html' %}

{% block sub_nav %}
<nav class="subnav">
    <div class="container split~940 by:2 align:t">
        <div class="cel">
            {% include "includes/search.html" %}
        </div>
        <div class="cel global_actions">
            {% block sub_nav_actions %}
                {% for project in available_projects %}
                    {% if forloop.first %}
                        <a class="icon icon-plus" href="{% url 'create-review' project.slug %}">Create a demo</a></li>
                    {% else %}
                        <select>
                            <option>Create a demo for:</option>
                            <option value="{% url 'create-review' project.slug %}">{{ project.name }}</option>
                        </select>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</nav>
{% endblock %}
