{% extends 'base.html' %}
{% load demo_tags %}

{% block styles %}
{{ block.super }}
<style>
    .reviews-list h3 {
        margin:0;
        font-size:1.3em;
    }
    .reviews-list section {
        min-height:150px;
        padding:20px 10px;
    }
    .reviews-list section,
    .reviews-list section a {
        color:#fff;
    }
    .reviews-list ul {
        list-style:none;
        margin:0;
        padding:0;
    }
    section.demos {
        background:#54BB9C;
    }
    section.reviews {
        background:#469C9B;
    }
    section.updates {
        background:#3A8B9B;
    }
    section.done {
        background-image:url(/static/images/done.png);
        background-repeat:no-repeat;
        background-size:50%;
        background-position:50% 50%;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="heading">{% block page_title %}{% endblock %}</h1>
    <div class="{% block split %}split~680 by:2 with-gap:5{% endblock %}">
        {% block main %}{% endblock %}
        {% block reviews %}
            <div class="cel">
                <div class="reviews-list split~680 by:3 with-gap:3">
                    <div class="cel">
                        <h3 class="icon icon-calendar">Open Demos</h3>
                        <section class="demos {% if not open_demos %}done{% endif %}">
                            {% if open_demos %}
                                <ul>
                                    {% for demo in open_demos %}
                                        <li class="icon icon-{{ demo.reviewer_state }}"><a href="{{ demo.get_absolute_url }}">{{ demo.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </section>
                    </div>
                    <div class="cel">
                        <h3 class="icon icon-inbox">
                            Open Reviews
                            <span class="tooltip" title="Reviews are demos that have been assigned to you to review. You can leave feedback and ultimately approve or reject a demo."></span>
                        </h3>
                        <section class="reviews {% if not open_reviews %}done{% endif %}">
                            {% if open_reviews %}
                                <ul>
                                    {% for demo in open_reviews %}
                                        <li class="icon icon-{% review_status demo request %}"><a href="{{ demo.get_absolute_url }}">{{ demo.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </section>
                    </div>
                    <div class="cel reviews-updates">
                        <h3 class="icon icon-mail">
                            Updated Demos
                            <span class="tooltip" title="Demos owned by others that have been updated since you last reviewed them will appear here."></span>
                        </h3>
                        <section class="updates {% if not updated_demos %}done{% endif %}">
                            {% if updated_demos %}
                                <ul>
                                    {% for demo in updated_demos %}
                                        <li class="icon icon-{{ demo.review.reviewer_state }} }}"><a href="{{ demo.review.get_absolute_url }}">{{ demo.review.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </section>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
