{% extends 'base.html' %}

{% block sub_nav %}
<nav class="subnav">
    <div class="container split~940 by:2 align:t">
        <div class="cel">
            {% include "includes/search.html" %}
        </div>
        <div class="cel global_actions">
            {% block sub_nav_actions %}
                {% if available_projects|length == 0 %}
                    {% for project in available_projects %}
                        <a class="subnav-item icon icon-plus" href="{% url 'create-review' project.slug %}">Create a demo</a></li>
                    {% endfor %}
                {% else %}
                    <div class="new_demo">
                        <label class="icon icon-pencil">
                            New demo:
                        </label>
                        <select class="new_demo_dropdown">
                            {% for project in available_projects %}
                                <option value="{% url 'create-review' project.slug %}">{{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <a class="subnav-item new_demo_link icon icon-plus" href="#">Create</a>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</nav>
{% endblock %}
