<script type="text/x-pattern" id="review_info">
<article class="review_info">
    <section>
        <span class="title">
            <strong>
                DT-<%= review.pk %>
                <a href="<%= review.url %>"><%= review.title %>:</a>
            </strong>
        </span>
        <p>
            <strong>Owner(s):</strong>
            <% _.each(review.creators, function(creator, Index) { %>
                <%= creator.name %><% if (!Index) { %>, <% } %>
            <% }); %>
        </p>
        <% if (review.project) { %>
            <p><strong>Project:</strong> <%= review.project.name %></p>
        <% } %>
        <p>
            <strong>Reviewer State:</strong>
            <% if (review.reviewer_state == "approved") { %>
                <span class="icon-<%= review.reviewer_state %>"><%= review.reviewer_state %></span>
            <% } else { %>
                <%= review.reviewer_state %>
            <% } %>
        </p>
        <p>
            <strong>Demo State:</strong>
            <%= review.state %>
            <ul>
                <% _.each(review.reviewers, function(reviewer) { %>
                    <li>
                        <span class="icon icon-<%= reviewer.reviewer_status %>">
                            <%= reviewer.name %>
                            <small>
                                <%= reviewer.reviewer_status %>
                            </small>
                        </span>
                    </li>
                <% }) %>
                <% _.each(review.followers, function(reviewer) { %>
                    <li>
                        <span>
                            <%= reviewer.name %>
                            <small>
                                following
                            </small>
                        </span>
                    </li>
                <% }) %>
            </ul>
        </p>
    </section>
</article>
</script>
