<script type="text/x-pattern" id="review_info">
<article class="review_info">
    <section>
        <span class="title">
            <strong>
                DT-<%= review.pk %>
            </strong>:
            <a href="<%= review.url %>"><%= review.title %></a>
        </span>
        <p>Created by <strong><%= review.creator %></strong>
        <% if (review.project) { %>
            <p>Project: <strong><%= review.project.name %></strong>
        <% } %>
        <p>Reviewer State:
            <% if (review.reviewer_state == "approved") { %>
            <strong class="icon-<%= review.reviewer_state %>"><%= review.reviewer_state %></strong>
            <% } else { %>
                <strong><%= review.reviewer_state %></strong>
            <% } %>
        </p>
        <p>Demo State: <strong><%= review.state %></strong>
        <ul>
            <% _.each(review.reviewers, function(reviewer) { %>
                <li>
                    <span class="icon icon-<%= reviewer.reviewer_status %>">
                        <%= reviewer.name %>
                        <small>
                            <%= reviewer.reviewer_status %>
                        </small>
                    </span>
                </li>
            <% }) %>
            <% _.each(review.followers, function(reviewer) { %>
                <li>
                    <span>
                        <%= reviewer.name %>
                        <small>
                            following
                        </small>
                    </span>
                </li>
            <% }) %>
        </ul>
    </section>
</article>
</script>
