<script type="text/x-pattern" id="user_results">
    <strong class="quickfind-heading icon icon-minus-squared-alt">Users</strong>
    <div class="quickfind-list">
        <ul>
        <% if (user.length) { %>
            <% _.each(user, function(user) { %>
                <li><a href="<%= user.url %>"><%= user.name %></a></li>
            <% }) %>
        <% } else { %>
            <li>No matching users found</li>
        <% } %>
        </ul>
    </div>
</script>
<script type="text/x-pattern" id="review_results">
    <strong class="quickfind-heading icon icon-minus-squared-alt">Demos</strong>
    <div class="quickfind-list">
        <ul>
        <% if (reviews.length) { %>
            <% _.each(reviews, function(review) { %>
                <li><a href="<%= review.url %>"><%= review.title %></a>, by <%= review.creator %></li>
            <% }) %>
        <% } else { %>
            <li>No matching demos found</li>
        <% } %>
        </ul>
    </div>
</script>
<script type="text/x-pattern" id="project_results">
    <strong class="quickfind-heading icon icon-minus-squared-alt">Projects</strong>
    <div class="quickfind-list">
        <ul>
        <% if (projects.length) { %>
            <% _.each(projects, function(project) { %>
                <li><a href="<%= project.url %>"><%= project.name %></a></li>
            <% }) %>
        <% } else { %>
            <li>No matching projects found</li>
        <% } %>
        </ul>
    </div>
</script>
