<script type="text/x-pattern" id="wysiwyg_footer">
    <div class="footer_panel">
        <a href="#" class="toggle_html">&lt;html /&gt;</a>
        <div class="emoji_panel" title="Click to insert a reaction">
            <img src="/static/images/emoji/smiley.png" class="add_emoji emoji">
            <img src="/static/images/emoji/grin.png" class="add_emoji emoji">
            <img src="/static/images/emoji/frowning2.png" class="add_emoji emoji">
            <img src="/static/images/emoji/astonished.png" class="add_emoji emoji">
            <img src="/static/images/emoji/confounded.png" class="add_emoji emoji">
            <img src="/static/images/emoji/cry.png" class="add_emoji emoji">
            <img src="/static/images/emoji/heart.png" class="add_emoji emoji">
            <img src="/static/images/emoji/thumbsup.png" class="add_emoji emoji">
            <img src="/static/images/emoji/beers.png" class="add_emoji emoji">
        </div>
    </div>
</script>
