{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
<style>
    input[type="submit"] {
        margin-top:2em;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Request Password Reset</h1>
    <section>
        Enter your email address to request a password reset
        <form action="" method="post">
            {% csrf_token %}
            {% for form in form %}
                <label>{{ form.label }}</label>
                {{ form.errors }}
                {{ form }}
            {% endfor %}
            <input type="submit" value="Reset Password">
        </form>
    </section>
{% endblock %}
