{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
<style>
    button[type="submit"] {
        margin-top:2em;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <section>
        <form action="" method="post">
            {% csrf_token %}
            {% for form in form %}
                <label>{{ form.label }}</label>
                {{ form.errors }}
                {{ form }}
            {% endfor %}
            <button type="submit">Reset Password</button>
        </form>
    </section>
{% endblock %}
