{% extends 'base.html' %}

{% block styles %}
{{ block.super }}
<style>
    button[type="submit"] {
        margin-top:2em;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Register An Account</h1>
    <section>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for form in form %}
                <label>{{ form.label }}</label>
                {{ form.errors }}
                {{ form }}
            {% endfor %}
            <p>By registering you agree that you've read and understand our
            <a href="{% url 'privacy-policy' %}">privacy policy</a> and
            <a href="{% url 'terms-of-use' %}">terms of use</a>.</p>
            <button type="submit">Sign up!</button>
        </form>
    </section>
{% endblock %}
