{% extends 'layout-marketing.html' %}

{% block styles %}
{{ block.super }}
<style>
    input[type="submit"] {
        margin-top:2em;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Register An Account</h1>
    <section>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for form in form %}
                <label>{{ form.label }}</label>
                {{ form.errors }}
                {{ form }}
            {% endfor %}
            <input type="submit" value="Sign up!">
        </form>
    </section>
{% endblock %}
